	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->


<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">{CREDIT_LINE}
	<br />Designed by <a href="http://www.stsoftware.biz/index.html">ST Software</a>.
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>

	    </td>
	    <td id="content-right" valign="top"><img src="{T_THEME_PATH}/images/content_top_right.gif" width="5" height="5" border="0" alt="" /></td>
	</tr>
	</table></div></div></td>
</tr>
</table>

</body>
</html>
