<!-- INCLUDE ucp_header.html -->

<script type="text/javascript">
    // <![CDATA[
    var form_name = 'ucp';
    var text_name = 'signature';
    // ]]>
</script>

<!-- DEFINE $S_SIGNATURE = 1 -->
{$CA_BLOCK_START}
{$CA_CAP2_START}{L_TITLE}{$CA_CAP2_END}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
<!-- IF not S_SMILIES_ALLOWED -->
<tr>
	<td colspan="2" class="row1">{L_SIGNATURE_EXPLAIN}</td>
</tr>
<!-- ENDIF -->

<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->

<tr>
    <!-- IF S_SMILIES_ALLOWED -->
    <td class="row1" width="22%" valign="top">
        {L_SIGNATURE_EXPLAIN}
        <table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
            <tr>
                <td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
            </tr>
            <tr>
                <td align="center">
                    <!-- BEGIN smiley -->
                    <a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
                    <!-- END smiley -->
                </td>
            </tr>
            <!-- IF S_SHOW_SMILEY_LINK -->
            <tr>
                <td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
            </tr>
            <!-- ENDIF -->
        </table>
    </td>
    <td class="row2">
        <!-- ELSE -->
    <td class="row2" colspan="2">
        <!-- ENDIF -->

        <table cellspacing="0" cellpadding="2" border="0" width="99%">
		<!-- INCLUDE posting_buttons.html -->
		<tr>
			<td colspan="2"><textarea class="posting-textarea" name="signature" rows="10" cols="76" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();">{SIGNATURE}</textarea></td>
		</tr>
		<!-- IF S_BBCODE_ALLOWED -->
		<tr>
			<td colspan="2">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td align="{S_CONTENT_FLOW_BEGIN}">
						<script type="text/javascript">
						// <![CDATA[
							colorPalette('h', 6, 5)
						// ]]>
						</script>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>
<tr>
	<td class="row1" valign="top"><b class="genmed">{L_OPTIONS}</b><br />
		<table cellspacing="2" cellpadding="0" border="0">
		<tr>
			<td class="gensmall">{BBCODE_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{IMG_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{FLASH_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{URL_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{SMILIES_STATUS}</td>
		</tr>
		</table>
	</td>
	<td class="row2" valign="top">
		<table cellspacing="0" cellpadding="1" border="0">
		<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
				<td class="gen">{L_DISABLE_BBCODE}</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
				<td class="gen">{L_DISABLE_SMILIES}</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
				<td class="gen">{L_DISABLE_MAGIC_URL}</td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>

<!-- IF SIGNATURE_PREVIEW != '' -->
	<tr>
		<th colspan="2" valign="middle">{L_SIGNATURE_PREVIEW}</th>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><div class="postbody" style="padding: 6px;">{SIGNATURE_PREVIEW}</div></td>
	</tr>
<!-- ENDIF -->

<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnlite" type="submit" name="preview" value="{L_PREVIEW}" />&nbsp;&nbsp;<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>
{$CA_BLOCK_END}

<!-- INCLUDE ucp_footer.html -->