@charset "utf-8";
/* CSS Document */
* {
	margin: 0; 
	padding: 0;
} 
#index {
	background: url(images/indexbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
section {
	width: 1280px;
	height: 356px;
	margin: 3% auto;
} 
section h1 {
	text-align: center;
	margin-bottom: 15%;
	letter-spacing: 4px;
	font-size: 36px;
	color: #FFF;
}
footer {
	margin-top: 330px;
	float: right;
	margin-right: 15px;
}
footer h1 {
	font-size: 30px;
}
section figure {
	box-shadow: 10px 5px 20px #000;
	display: inline-block;
	margin: auto;
  	transition: all 0.2s ease;
	width: 178px;
	height: 356px;
	background-color: #FFF;
	position: relative;
	border-right: 1px solid #1e1e1e;
}
section figure:hover figcaption {
	 opacity: 0.7;
	 transition: opacity 0.5s;
}
section figure:hover figcaption p {
	opacity: 1;
	transition: opacity 0.6s;
}
figcaption {
	background-color: black;
	position: absolute;
	text-align: center;
	width: 178px;
	height: 356px;
	top: 0px;
	opacity: 0;
}
figcaption p {	
	color: #724010;
	text-shadow: 5px 5px 10px #000;
	opacity: 0;
	font-family: "Palatino"; 
	font-size: 24px;
	margin-top: 270px;
	margin-left: 5px;
}
section figure img {	
	width: 178px;
	height: 356px;
}
#underpagebg {	
 	background: #000 url("Images/bg3.png") 50% 0 no-repeat; 
	-webkit-background-size: auto; color: #efc9a0;
} 
body > div:first-child {
	width: 992px; 
	height: 1244px; 
	-webkit-background-size: auto; color: #efc9a0;
	box-shadow: 4px 4px 35px #000, -4px -4px 35px #000;
	margin: 20px auto;
}
#wrapperbg {
	background: #000 url("Images/Asherystrasz/AsheryBG.jpg") 50% 0 no-repeat;
}  
#wrapperbghely {  
	background: #000 url("Images/Helynios/HelyBG.jpg") 50% 0 no-repeat;
}
#wrapperbgxeras {
	background: #000 url("Images/Xeras/XerasBG.jpg") 50% 0 no-repeat;
}
#textboxmain { 
	height: 1045px; 
	width: 405px; 
	margin-left: 65px;
	margin-top: 100px;
	float: left; 
	clear:both;
} 
.subtitle { 
	font-style: italic; 
	color: #dd6800;
	font: italic 22px Palatino Linotype, Serif;
	text-shadow: 0 0 10px #000;
	text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 1px 1px #000;
} 
.subtitle2 { 
	font-style: italic; 
	color: #cdcdcd;
	font: italic 22px Palatino Linotype, Serif;
	text-shadow: 0 0 10px #000;
	text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 1px 1px #000;
}
h1 {
	color: #efe3d2;
	font: 60px "Palatino Linotype", Georgia, Times, sans-serif;
	letter-spacing: -1.5px;
	text-shadow: #241209 0 0 5px;
} 
ul {
	font-size: 12px; 
} 
ul:first-child {
	list-style: none; 
	width: 100%;
	height: 30px;
} 

ul:first-child li {
	margin-top: 2px;
	padding-right: 0;
	margin-right: 0; 
} 
ul:first-child li {
	float: left;
	margin-right: 5px; 
} 
ul:first-child li .breadcrumb-arrow {
	position: relative;
	padding-right: 32px;
} 
ul:first-child li a {
	display: block;
	line-height: 1.25;
} 
ul:first-child li .breadcrumb-arrow:after {
	content: "";
	background: url("Images/flyout-arrows.gif") no-repeat 100% -123px;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 3px;
	right: 7px;
} 
.button {
	width: 146px;
	height: 20px;
	display:block;
	float:left;
	line-height: 110px;
}

ul:first-child .button a {
	text-decoration: none;
	text-shadow: 3px 3px 3px #000000;
	
	
}

ul:first-child .button a:hover {
	opacity: 0.8;
	color:#c73c3c;
}

.button ul {
	display: none;
}

.button:hover ul {
	display: block;
	width: 141px;
	height:380px;
	position:relative;
	top: 3px;
	right: 0px;
	z-index: 5;
}

ul:nth-child(2) li {
	line-height: 120px;
	list-style: none;
}
ul:nth-child(2) li {
	width: 120px;
	height: 23px;
	background-image:url(Images/button.png);
	background-repeat: no-repeat;
	list-style: none;
	border-radius: 0 0 5px 5px;
} 
ul:nth-child(2) li a { 
	margin-left: 15px; 
	margin-top: 5px;  
}
ul:first-child .button a {
	text-decoration: none; 
} 
ul:first-child .button a {
	text-decoration: none;
	color:#FFF;
	text-shadow: 3px 3px 3px #000000;	
	width: 128px; 
} 
ul:first-child .last a {
	text-decoration: none;
	color:#FFF;
	text-shadow: 3px 3px 3px #000000;	 
} 
ul:first-child .last a:hover { 
	opacity: 0.8;
	color:#c73c3c;
}
.breadcrumb-text { 
	margin-left: 15px; 
	margin-top: 9px; 
} 
.summary { 
	color: #b79855; 
	font: normal 18px/1.5 Arial, Verdana, sans-serif; 
	text-shadow: 5px 5px 10px #000;
	-webkit-text-stroke: 0.05px black;
	margin-bottom: 20px; 
} 
.summary2 {
	color: #cdcdcd; 
	font: normal 18px/1.5 Arial, Verdana, sans-serif; 
	text-shadow: 5px 5px 10px #000;
	-webkit-text-stroke: 0.05px black;
	margin-bottom: 20px; 
}
.main { 
	color: #efc9a0;
	font: normal 16px/1.5 Arial, Verdana, sans-serif;
	line-height: 25px; 
	margin-bottom: 25px; 
} 
.main2 { 
	color: #efc9a0;
	font: normal 16px/1.5 Arial, Verdana, sans-serif;
	line-height: 25px; 
	margin-bottom: 20px; 

}
#contentheader { 
	height: 190px; 
	width: 530px; 
} 
#textboxmain > img { 
	margin-right: 20px; 
	margin-bottom: 15px; 
} 
#infoboxright {
	float: right;
	padding-right: 40px;
	position: relative;
	width: 430px;
	top: 420px; 
}
#quotewrapper {
	height: 250px;
	position: absolute;
	top: 0;
	width: 400px;
} 
#quote { 
	bottom: 0;
	color: #dd6800;
	font: italic 26px Palatino Linotype, Serif;
	margin-bottom: 40px;
	margin-top: 10px;
	text-align: center;
	position: absolute;
	text-shadow: 0 0 10px #000;
	text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 1px 1px #000;
	width: 100%; 
} 
#scroll {
	margin-top: 200px;  
}
#scroll-title {
	width: 100%;
	height: 87px;
	background: url("Images/bg-scrollbox-top.png") no-repeat 0 0;
} 
#scroll-content {
	width: 100%;
	background: url("Images/bg-scrollbox-body.png") repeat-y;
} 
#scroll-content #scroll-wrapper { 
	width: 100%;
	background: url("Images/bg-scrollbox-bottom.png") no-repeat 0 100%;
	padding-bottom: 71px;
} 
ol, ul {
	list-style-type: none;
	} 
li {
	display: list-item;
	text-align: -webkit-match-parent; 
	font: normal 12px/1.5 Arial, Verdana, sans-serif;
} 
.feature-list .human-aes {
	background-image: url('Images/Helynios/human-male.png');
	background-repeat: no-repeat;
}
.feature-list .silverwind { 
	background-image: url('Images/Helynios/silverwind.png'); 
	background-repeat: no-repeat;
}
.feature-list .human-male {
	background-image: url('Images/Asherystrasz/wyrm.png');
	background-repeat: no-repeat;
} 
.feature-list .male {
	background-image: url('Images/male.png');
	background-repeat: no-repeat;
} 
.feature-list .faction { 
	background-image: url('Images/Asherystrasz/heartwing.png');
	background-repeat: no-repeat;
} 
.feature-list .location .icon {
background-image: url('Images/location.png');
}
.feature-list {
	color: #341F12;
}
.feature-list .icon {
	height: 75px;
	width: 75px;
	display: block;
	float: left;
} 
.feature-list .feature-wrapper {
	width: 190px;
	float: left;
	padding: 0 0 15px 10px;
} 
.feature-list .feature-item-title {
	color: #9d5400;
	font-weight: bold;
	font: Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	margin-bottom: -5px;
	margin-top: 10px;
} 
.feature-list .feature-item-title {
	padding-top: 3px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.5px;
	text-transform: uppercase /*bold 14px/21px Arial,Sans-serif*/;
} 
.feature-list .feature-item-desc {
	color: #724010;
	font-weight: bold;
	font: italic 24px Palatino Linotype, Serif;
	letter-spacing: -1px;
} 
.clear, .clear:before, .clear:after {
clear: both;
} 
.feature-list {
	color: #341F12;
	padding: 0 50px 0 45px;
	width: 338px; 
	height: 336px; 
} 
#scroll-title span {
	font: bold 18px Arial, Sans-serif;
	color: #603317;
	letter-spacing: -0.5px;
	display: block;
	margin-left: 93px;
	padding-top: 50px;
}