/* Extra Style Sheet 
-------------------------------------------------*/

/* Content */
div#content {
	padding: 15px;
}

ul.center li {
    text-align: center;
	list-style: none;
	font-size: 1.1em;
}

/* Navigation */

#nav {
	padding: 1px;
	background: #2D2D2D;
    border: 1px solid #000000;
}

div.breadcrumbs {
	color: #FFF;
	font-size: 0.85em;
	margin-bottom: 1px;
	font-weight: bold;
	background: #000 url("{T_THEME_PATH}/images/breadcrumbs.gif") repeat-x;
	padding: 5px;
	height: 15px;
}
div.breadcrumbs a {
	color: #D0D0D0;
	text-decoration: none;
}
div.breadcrumbs a:hover {
	color: #98AAB1;
}

#link_box {
	background: #232323;
	border-color: #000000;
    border-style: solid;
    border-width: 0 1px 1px 0;
    margin-bottom: 1px;
	padding: 4px;
}

#text_box {
	float: right;
	margin-top: -40px;
	text-align: right;
}


/* Menu */
div#navmenu {
	font-size: 0.9em;
	text-align: center;
	background: #000 url("{T_THEME_PATH}/images/bg_navmenu.gif") repeat-x;
	border: 1px solid #808080;
	border-width: 1px 0;
	padding: 4px 0;
}
div#navmenu a:link, div#navmenu a:active, div#navmenu a:visited {
	color: #FFF;
	text-decoration: none;
}
div#navmenu a:hover {
	color: #D0D0D0;
	text-decoration: none;
}

/* Top rounded corners */
div.rounded_corners_top {
	width: 100%;
	height: 30px;
	min-height: 29px;
	background: #000 url("{T_THEME_PATH}/images/rounded_corners_top.gif") repeat-x;
}
div.rounded_corners_top div.left {
	float: left;
	height: 12px;
	width: 335px;
	background: #000 url("{T_THEME_PATH}/images/rounded_corners_top_left.gif") no-repeat;
	color: #FFF;
	font: bold 1.1em Verdana, Arial, Helvetica, sans-serif;
	padding: 8px 0 10px 40px;
}
div.rounded_corners_top div.left a {
	color: #FFF;
	text-decoration: none;
}
div.rounded_corners_top div.left a:hover {
	text-decoration: underline;
}
div.rounded_corners_top div.right {
	float: right;
	width: 9px;
	height: 29px;
	background: #000 url("{T_THEME_PATH}/images/rounded_corners_top_right.gif") no-repeat;
}

/* Bottom rounded corners */
div.rounded_corners_bottom {
	width: 100%;
	height: 9px;
	background: #000 url("{T_THEME_PATH}/images/rounded_corners_bottom.gif") repeat-x;
}
div.rounded_corners_bottom div.left {
	float: left;
	width: 9px;
	height: 9px;
	background: #000 url("{T_THEME_PATH}/images/rounded_corners_bottom_left.gif") repeat-x;
}
div.rounded_corners_bottom div.right {
	float: right;
	width: 9px;
	height: 9px;
	background: #000 url("{T_THEME_PATH}/images/rounded_corners_bottom_right.gif") repeat-x;
}