#post-wrap .post {
	    border: 1px solid #4c4c4c;
	transition: 0.3s ease;
}

#post-wrap article {
	position: relative;
}

#post-wrap article a.absolute-link {
	position: absolute;
	height: 90%;
	width: 100%;
}

#post-wrap .post:hover {
	border-color: #a07640;
}

#post-wrap article {
	padding-bottom: 0;
}

body.content-sidebar.single-post .sidebar {
	display: none;
}

body.content-sidebar.single-post .content {
	width: 100%;
}

body.single-post .wp-post-image {
	    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 500px;
    width: auto;
}

h1.archive-title {
	display: none;
}

#post-wrap article span.category {
	color: #ebdec2;
	text-transform: uppercase;
	font-size: 12px;
}
#post-wrap article span.category:hover {
	text-decoration: none;
}
#post-wrap .post-meta ul, .post-meta li {
	margin-bottom: 0;
}
#post-wrap .content-area {
	box-sizing: box-sizing;
	    padding: 10px 20px 15px;
}
#post-wrap .content-area h1 {
	border-bottom: none;
	font-size: inherit;
	margin-bottom: 10px;
}

#post-wrap .content-area h1 a {
	color: #c3914f;
	font-size: 17px;
	transition: 0.3 ease;
}

#post-wrap article .post-meta li a {
	color: #ebdec2;
	text-transform: uppercase;
	font-size: 10px;	
}


#post-wrap article:hover .content-area h1 a {
	color: #eee;
}



.image-bg {
	border-bottom: 1px solid #4c4c4c;
	background-position: center center;
	background-size: inherit;
	background-repeat: no-repeat;
	height: 320px;
}

.post-41 .image-bg {
	background-position: 0px center;
    background-size: 100% auto;
}

.content-area {
	    background: #2f2f2f;
}