/*
Theme Name: Highwind
Theme URI: http://jameskoster.co.uk/highwind/
Description: Highwind is a lightweight, free WordPress theme designed to showcase content. It features a clean, responsive design with a strong focus on typography, plus a bunch of presentational options and widgetised regions allowing you to give your site a unique touch. <a href="https://github.com/jameskoster/highwind/wiki">View Documentation</a>.
Author: jameskoster
Author URI: http://jameskoster.co.uk
Version: 1.2.7
Tags: white, two-columns, left-sidebar, right-sidebar, sticky-post, threaded-comments, translation-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, theme-options, light

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Modular Scale: http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

Highwind WordPress Theme, Copyright 2013 jameskoster.co.uk
Highwind is distributed under the terms of the GNU GPL
*/


/**
 * STYLE.LESS
 * This file contains presenational styles for this theme
 */


/**
 * Imports
 */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans');
html a {
    color: #c3914f;
}

.gglcptch.gglcptch_v2 {
    float: left;
    width: 100%;
}

.widget_meta li:not(:first-of-type) {
    display: none;
}

.widget_meta li:nth-of-type(2) {
    display: inline-block;
}

.icon_button {
    text-indent: -999em;
    position: relative;
    display: block;
    padding: 0;
    height: 2.369em;
    width: 2.369em;
    font-size: 1em;
    font-weight: normal;
}

.icon_button:after {
    font-family: "FontAwesome";
    content: "\f118";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-indent: 0;
    line-height: 2.369;
}

.icon_date {
    display: inline;
}

.icon_date:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f133";
}

.icon_external {
    display: inline-block;
}

.icon_external:after {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    text-align: right;
    line-height: 1;
    content: "\f179";
    content: "\f08e";
}

.icon_video:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f03d";
}

.icon_status:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0e7";
}

.icon_audio:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f025";
}

.icon_comment:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f075";
}

.icon_link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0c1";
}

.icon_folder:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f07b";
}

.icon_tag:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f02b";
}

.icon_post:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0f6";
}

.icon_edit:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f040";
}

.icon_archive:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f115";
}

.icon_category:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f114";
}

.icon_page:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0f6";
}

.icon_comment:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0e5";
}

.icon_post:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f016";
}

.icon_user:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f007";
}

@-webkit-keyframes buttonshadow {
    0% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    }
    100% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    }
}

@-moz-keyframes buttonshadow {
    0% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    }
    100% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    }
}

@-o-keyframes buttonshadow {
    0% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    }
    100% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    }
}

@keyframes buttonshadow {
    0% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    }
    100% {
        -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    }
}


/*! normalize.css v2.1.1 | MIT License | git.io/normalize */


/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */


/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}


/* ==========================================================================
   Base
   ========================================================================== */


/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    background: #fff;
    /* 1 */
    color: #000;
    /* 2 */
    font-family: sans-serif;
    /* 3 */
    -ms-text-size-adjust: 100%;
    /* 4 */
    -webkit-text-size-adjust: 100%;
    /* 4 */
}


/**
 * Remove default margin.
 */

body {
    margin: 0;
}


/* ==========================================================================
   Links
   ========================================================================== */


/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/* ==========================================================================
   Typography
   ========================================================================== */


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}


/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}


/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}


/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}


/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}


/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}


/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}


/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* ==========================================================================
   Embedded content
   ========================================================================== */


/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}


/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}


/* ==========================================================================
   Figures
   ========================================================================== */


/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}


/* ==========================================================================
   Forms
   ========================================================================== */


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 2 */
    margin: 0;
    /* 3 */
}


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/* ==========================================================================
   Tables
   ========================================================================== */


/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**
 * GRID.LESS
 * Based on semanticgrid.gs
 */


/**
 * CORE.LESS
 * This file contains core styles for common WordPress components as well as general html elements & basic layout.
 */


/**
 * Typography
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('framework/typefaces/fontawesome-webfont.eot?v=4.0.3');
    src: url('framework/typefaces/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('framework/typefaces/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('framework/typefaces/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('framework/typefaces/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
}

body {
    *zoom: 1;
    text-align: left;
    overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

body:before,
body:after {
    content: "";
    display: table;
}

body:after {
    clear: both;
}

.assistive-text,
.screen-reader-text {
    display: none;
}


/**
 * Wrappers
 */

.outer-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.inner-wrap {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    left: 0;
}


/**
 * Images
 */

img,
.wp-caption {
    max-width: 100%;
    height: auto;
}


/**
 * Forms
 */

form label {
    display: block;
}

form .comment-form-author label,
form .comment-form-email label,
form .comment-form-url label {
    display: inline-block;
    float: left;
}

form .comment-form-author input,
form .comment-form-email input,
form .comment-form-url input {
    clear: left;
}

form ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.35);
}

form :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.35);
}

form ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.35);
}

form :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.35);
}

form [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.5s 0.5s ease;
    -moz-transition: opacity 0.5s 0.5s ease;
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
}

.required {
    color: darkRed;
}

fieldset {
    padding: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    outline: none;
}

input[type="submit"],
.button,
.navigation-post a {
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border: 0;
    text-decoration: none;
}

input[type="submit"]:hover,
.button:hover,
.navigation-post a:hover {
    text-decoration: none;
}

select {
    max-width: 100%;
}


/**
 * Header
 */

.header {
    *zoom: 1;
    margin: 0;
}

.header:before,
.header:after {
    content: "";
    display: table;
}

.header:after {
    clear: both;
}

.header .nav-toggle {
    text-indent: -999em;
    position: relative;
    display: block;
    padding: 0;
    height: 2.369em;
    width: 2.369em;
    font-size: 1em;
    font-weight: normal;
}

.header .nav-toggle:after {
    font-family: "FontAwesome";
    content: "\f118";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-indent: 0;
    line-height: 2.369;
}

.header .nav-toggle:after {
    content: "\f0c9";
}

.site-intro {
    display: block;
}

.site-title {
    margin: 0;
}


/**
 * Navigation
 */

ul.menu {
    list-style: none;
    margin: 0;
}

ul.menu ul {
    margin: 0 0 0 1em;
    list-style: none;
}

.main-nav {
    clear: both;
    width: 80%;
    left: -80%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 99999;
}

.main-nav .buttons {
    margin: 0;
    *zoom: 1;
    list-style: none;
}

.main-nav .buttons:before,
.main-nav .buttons:after {
    content: "";
    display: table;
}

.main-nav .buttons:after {
    clear: both;
}

.main-nav .buttons a {
    text-indent: -999em;
    position: relative;
    display: block;
    padding: 0;
    height: 2.369em;
    width: 2.369em;
    font-size: 1em;
    font-weight: normal;
}

.main-nav .buttons a:after {
    font-family: "FontAwesome";
    content: "\f118";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-indent: 0;
    line-height: 2.369;
}

.main-nav .buttons a:after {
    content: "\f00d";
}

.main-nav .buttons li.home {
    float: right;
}

.main-nav .buttons li.home a:after {
    content: "\f015";
}

.main-nav .buttons li.close {
    float: left;
}

.main-nav .buttons+hr {
    margin: 0 0 2.665em;
}

.main-nav h2 {
    font-size: 1em;
    letter-spacing: 0 !important;
}

.show-nav .inner-wrap {
    left: 80%;
    -webkit-transform: translateZ(0);
    -webkit-transition: left ease 0.4s;
    -moz-transition: left ease 0.4s;
    -o-transition: left ease 0.4s;
    transition: left ease 0.4s;
}

.csstransforms3d.csstransitions .main-nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.csstransforms3d.csstransitions .inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 200ms ease;
    -moz-transition: -moz-transform 200ms ease;
    -o-transition: -o-transform 200ms ease;
    transition: transform 200ms ease;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.csstransforms3d.csstransitions .show-nav .main-nav {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.csstransforms3d.csstransitions .show-nav .inner-wrap {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}


/**
 * Images
 */

.aligncenter {
    display: block;
}

.alignright {
    display: block;
    float: right;
}

img.alignleft {
    max-width: none;
    float: left;
}

img.wp-post-image {
    max-width: 100%;
}

.post img {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.post img.wp-smiley {
    padding: 0;
    background: none;
}

.attachment {
    margin-bottom: 1.333em;
}

.gallery img {
    border: 0 !important;
    margin-bottom: 1.333em;
}

.gallery dl.gallery-item {
    margin: 0;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}


/**
 * Gallery
 */

.gallery-nav {
    *zoom: 1;
}

.gallery-nav:before,
.gallery-nav:after {
    content: "";
    display: table;
}

.gallery-nav:after {
    clear: both;
}

.gallery-nav a {
    display: block;
    float: left;
}

.gallery-nav a:nth-child(2n) {
    float: right;
}


/**
 * Comments
 */

p.nocomments {
    display: inline;
    float: left;
    width: 90.78391716%;
    margin-left: 4.60804142%;
    margin-right: 4.60804142%;
    *width: 90.73183383%;
    *margin-left: 4.55595809%;
    *margin-right: 4.55595809%;
}

p.nocomments:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f056";
}

#comment-nav-above,
#comment-nav-below {
    *zoom: 1;
    clear: both;
    display: inline;
    float: left;
    width: 90.78391716%;
    margin-left: 4.60804142%;
    margin-right: 4.60804142%;
    *width: 90.73183383%;
    *margin-left: 4.55595809%;
    *margin-right: 4.55595809%;
}

#comment-nav-above:before,
#comment-nav-below:before,
#comment-nav-above:after,
#comment-nav-below:after {
    content: "";
    display: table;
}

#comment-nav-above:after,
#comment-nav-below:after {
    clear: both;
}

#comment-nav-above h1,
#comment-nav-below h1 {
    display: none;
}

#comment-nav-above .nav-previous,
#comment-nav-below .nav-previous {
    float: right;
}

#comment-nav-above .nav-next,
#comment-nav-below .nav-next {
    float: left;
}

.comments ol.commentlist,
.comments ul.children {
    padding-left: 0;
    clear: both;
    list-style: none;
    *zoom: 1;
}

.comments ol.commentlist:before,
.comments ul.children:before,
.comments ol.commentlist:after,
.comments ul.children:after {
    content: "";
    display: table;
}

.comments ol.commentlist:after,
.comments ul.children:after {
    clear: both;
}

.comments ol.commentlist #respond,
.comments ul.children #respond {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    float: none;
}

.comments ul.children {
    margin-bottom: 0;
    margin-left: 0;
    display: block;
    width: 109.21608284%;
    margin-left: -4.60804142%;
    margin-right: -4.60804142%;
    *width: 109.1639995%;
    *margin-left: -4.66012475%;
    *margin-right: -4.66012475%;
    *zoom: 1;
}

.comments ul.children:before,
.comments ul.children:after {
    content: "";
    display: table;
}

.comments ul.children:after {
    clear: both;
}

.comments ul.children>li {
    display: inline;
    float: left;
    width: 78.28391716%;
    margin-left: 4.60804142%;
    margin-right: 4.60804142%;
    *width: 78.23183383%;
    *margin-left: 4.55595809%;
    *margin-right: 4.55595809%;
    float: right;
}

.comments ul.children ul.children {
    display: block;
    width: 110.5326661%;
    margin-left: -5.26633305%;
    margin-right: -5.26633305%;
    *width: 110.48058277%;
    *margin-left: -5.31841638%;
    *margin-right: -5.31841638%;
    *zoom: 1;
}

.comments ul.children ul.children:before,
.comments ul.children ul.children:after {
    content: "";
    display: table;
}

.comments ul.children ul.children:after {
    clear: both;
}

.comments ul.children ul.children>li {
    display: inline;
    float: left;
    width: 75.18161961%;
    margin-left: 5.26633305%;
    margin-right: 5.26633305%;
    *width: 75.12953628%;
    *margin-left: 5.21424972%;
    *margin-right: 5.21424972%;
    float: right;
}

.comments ul.children ul.children ul.children {
    display: block;
    width: 112.28811045%;
    margin-left: -6.14405522%;
    margin-right: -6.14405522%;
    *width: 112.23602712%;
    *margin-left: -6.19613856%;
    *margin-right: -6.19613856%;
    *zoom: 1;
}

.comments ul.children ul.children ul.children:before,
.comments ul.children ul.children ul.children:after {
    content: "";
    display: table;
}

.comments ul.children ul.children ul.children:after {
    clear: both;
}

.comments ul.children ul.children ul.children>li {
    display: inline;
    float: left;
    width: 71.04522288%;
    margin-left: 6.14405522%;
    margin-right: 6.14405522%;
    *width: 70.99313955%;
    *margin-left: 6.09197189%;
    *margin-right: 6.09197189%;
    float: right;
}

.comments ul.children ul.children ul.children ul.children {
    display: block;
    width: 114.74573254%;
    margin-left: -7.37286627%;
    margin-right: -7.37286627%;
    *width: 114.69364921%;
    *margin-left: -7.4249496%;
    *margin-right: -7.4249496%;
    *zoom: 1;
}

.comments ul.children ul.children ul.children ul.children:before,
.comments ul.children ul.children ul.children ul.children:after {
    content: "";
    display: table;
}

.comments ul.children ul.children ul.children ul.children:after {
    clear: both;
}

.comments ul.children ul.children ul.children ul.children>li {
    display: inline;
    float: left;
    width: 65.25426746%;
    margin-left: 7.37286627%;
    margin-right: 7.37286627%;
    *width: 65.20218413%;
    *margin-left: 7.32078294%;
    *margin-right: 7.32078294%;
    float: right;
}

.comments .comment-author {
    *zoom: 1;
    margin-bottom: 1.5em;
}

.comments .comment-author:before,
.comments .comment-author:after {
    content: "";
    display: table;
}

.comments .comment-author:after {
    clear: both;
}

.comments .comment-author img {
    float: left;
    height: 3.157em;
    width: 3.157em;
    margin-right: 1em;
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
}

.comments .comment-author cite {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
    color: #444854;
    line-height: 1.333;
    position: relative;
    text-align: left;
    font-size: 1.333em;
    font-weight: 600;
    color: inherit;
}

.comments .comment-author cite small {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.comments .comment-author cite a {
    text-decoration: none;
}

.comments .comment-author cite a {
    display: inline-block;
}

.comments .comment-author cite a:after {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    text-align: right;
    line-height: 1;
    content: "\f179";
    content: "\f08e";
}

.comments .comment-author .comment-meta a:hover {
    text-decoration: none;
}

.comments .comment-author .comment-meta .date-link {
    display: inline;
}

.comments .comment-author .comment-meta .date-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f133";
}

.comments .comment-author .comment-meta .comment-edit-link {
    margin-left: 1.333em;
}

.comments .comment-author .comment-meta .comment-edit-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f040";
}

.comments .comment-reply-link:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f112";
}

#respond {
    clear: both;
}


/**
 * Widgets
 */

html,
body {
    min-height: 100vh;
}

.widget ul,
.widget ol {
    list-style: none;
    padding-left: 0;
}

form.searchform {
    position: relative;
}

form.searchform input#searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 3.157em;
    text-indent: -999em;
    border: 0;
}

form.searchform input#searchsubmit:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    background: rgba(0, 0, 0, 0.05);
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form.searchform input#searchsubmit:active {
    -webkit-transform: none;
}

form.searchform input#s {
    padding-right: 3.552em;
}

form.searchform:before {
    content: "\f002";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-indent: 0;
    width: 3.157em;
    text-align: center;
    line-height: 2.9;
}


/**
 * Posts
 */

.post-date {
    display: inline;
}

.post-date:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f133";
}

.sticky .post-date:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f08d";
}

.post-meta ul,
.post-meta li {
    list-style: none;
    padding-left: 0;
}

.post-meta ul ul,
.post-meta li ul {
    margin: 0;
}

.post-meta li {
    display: inline;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.post-meta li:last-child {
    border-right: 0;
}

.post-meta li.comment:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f075";
}

.post-meta li.comment:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0e5";
}

.post-meta li.categories:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f114";
}

.post-meta li.tags:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f02b";
}

.post-meta li.author:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f007";
}

.navigation-paging,
.navigation-post,
.navigation-comments {
    clear: both;
    *zoom: 1;
}

.navigation-paging:before,
.navigation-post:before,
.navigation-comments:before,
.navigation-paging:after,
.navigation-post:after,
.navigation-comments:after {
    content: "";
    display: table;
}

.navigation-paging:after,
.navigation-post:after,
.navigation-comments:after {
    clear: both;
}

.navigation-paging .nav-previous,
.navigation-post .nav-previous,
.navigation-comments .nav-previous,
.navigation-paging .nav-next,
.navigation-post .nav-next,
.navigation-comments .nav-next {
    float: left;
}

.navigation-paging .nav-previous a:before,
.navigation-post .nav-previous a:before,
.navigation-comments .nav-previous a:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f053";
}

.navigation-paging .nav-next,
.navigation-post .nav-next,
.navigation-comments .nav-next {
    text-align: right;
    float: right;
}

.navigation-paging .nav-next a:after,
.navigation-post .nav-next a:after,
.navigation-comments .nav-next a:after {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    text-align: right;
    line-height: 1;
    content: "\f179";
    content: "\f054";
}


/**
 * Footer
 */

.footer p {
    margin: 0;
    float: left;
}

.footer a.back-to-top {
    float: right;
    text-indent: -999em;
    width: 2.369em;
    display: block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
    overflow: hidden;
}

.footer a.back-to-top:after,
.footer a.back-to-top:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    text-align: right;
    line-height: 1;
    content: "\f179";
    content: "\f062";
    text-indent: 0;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    line-height: 2.665;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    -o-transition: all ease 0.238s;
    transition: all ease 0.238s;
}

.footer a.back-to-top:before {
    -webkit-transform: translateY(3em);
    transform: translateY(3em);
}

.footer a.back-to-top:hover:after {
    -webkit-transform: translateY(-3em);
    transform: translateY(-3em);
}

.footer a.back-to-top:hover:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


/**
 * Main Layout
 * @type Desktop
 */

@media only screen and (min-width: 769px) {
    /* Only apply the layout if the user is on a desktop / tablet */
    html {
        -webkit-text-size-adjust: none;
    }
    /**
	 * Wrappers
	 */
    .inner-wrap {
        left: 0 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        max-width: 69.75em;
        margin: 1.777em auto;
        *zoom: 1;
    }
    .inner-wrap:before,
    .inner-wrap:after {
        content: "";
        display: table;
    }
    .inner-wrap:after {
        clear: both;
    }
    .content-wrapper {
        *zoom: 1;
    }
    .content-wrapper:before,
    .content-wrapper:after {
        content: "";
        display: table;
    }
    .content-wrapper:after {
        clear: both;
    }
    /**
	 * Layout
	 */
    .content {
        display: inline;
        float: left;
        width: 60.52261144%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 60.47052811%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
        float: right;
    }
    .inner-wrap {
        margin-top: 0;
        margin-bottom: 0;
    }
    .sidebar {
        display: inline;
        float: left;
        width: 27.18927811%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 27.13719478%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    .footer-widgets {
        display: block;
        width: 106.14405522%;
        margin-left: -3.07202761%;
        margin-right: -3.07202761%;
        *width: 106.09197189%;
        *margin-left: -3.12411095%;
        *margin-right: -3.12411095%;
        *zoom: 1;
    }
    .footer-widgets:before,
    .footer-widgets:after {
        content: "";
        display: table;
    }
    .footer-widgets:after {
        clear: both;
    }
    .footer-widgets.columns-1 .footer-sidebar {
        display: inline;
        float: left;
        width: 93.85594478%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 93.80386144%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    .footer-widgets.columns-2 .footer-sidebar {
        display: inline;
        float: left;
        width: 43.85594478%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 43.80386144%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    .footer-widgets.columns-3 .footer-sidebar {
        display: inline;
        float: left;
        width: 27.18927811%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 27.13719478%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    .page-template-templatestemplate-fullwidth-php .content,
    body.fullwidth .content {
        display: inline;
        float: left;
        width: 93.85594478%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 93.80386144%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
        float: none;
    }
    /**
	 * Header
	 */
    .toggle-container {
        display: none !important;
    }
    .site-intro {
        display: inline;
        float: left;
        width: 93.85594478%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 93.80386144%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    .main-nav {
        clear: none;
        position: fixed;
        left: 0;
        width: 100%;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
    }
    .main-nav h2,
    .main-nav .buttons,
    .main-nav hr {
        display: none;
    }
    .main-nav .highwind-navigation {
        max-width: 69.75em;
        padding: 0 3.157em;
        margin: 0 auto;
        *zoom: 1;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
    }
    .main-nav .highwind-navigation:before,
    .main-nav .highwind-navigation:after {
        content: "";
        display: table;
    }
    .main-nav .highwind-navigation:after {
        clear: both;
    }
    .main-nav ul.menu {
        display: inline;
        float: left;
        width: 93.85594478%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 93.80386144%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    /**
	 * Navigation
	 */
    .main-nav {
        margin-bottom: 0;
    }
    .main-nav ul.menu {
        position: relative;
        margin-bottom: 0;
        padding: 0;
        /* CHILDREN */
    }
    .main-nav ul.menu li {
        position: relative;
        display: block;
        float: left;
        list-style: none;
    }
    .main-nav ul.menu a {
        display: inline-block;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
    }
    .main-nav ul.menu ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9999;
        margin: 0;
        padding: 0;
        text-align: left;
        -webkit-transition: all ease 0.238s;
        -moz-transition: all ease 0.238s;
        -o-transition: all ease 0.238s;
        transition: all ease 0.238s;
        filter: alpha(opacity=@opacity * 100);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        overflow: hidden;
        -webkit-transform: translateY(1em);
        visibility: hidden;
    }
    .main-nav ul.menu ul li {
        float: none;
        display: block;
    }
    .main-nav ul.menu ul a {
        width: 100%;
        display: inline-block;
        text-transform: none;
    }
    .main-nav ul.menu ul ul {
        left: 100%;
        top: 0;
    }
    .main-nav ul.menu li:hover>ul {
        filter: alpha(opacity=@opacity * 100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        overflow: visible;
        visibility: visible;
        -webkit-transform: translateY(0);
    }
    /**
	 * Layout
	 */
    .post .attachment-post-thumbnail,
    article.attachment .attachment-post-thumbnail {
        height: auto;
    }
    form .comment-form-author,
    form .comment-form-email,
    form .comment-form-url {
        width: 30.75%;
        float: left;
        margin-right: 3.8%;
    }
    form .comment-form-url {
        float: right;
        margin-right: 0;
    }
    /**
	 * Posts
	 */
    .post {
        *zoom: 1;
    }
    .post:before,
    .post:after {
        content: "";
        display: table;
    }
    .post:after {
        clear: both;
    }
    .post .article-content .attachment-post-thumbnail {
        width: auto;
        max-width: 100%;
        float: none;
    }
    /**
	 * Pages
	 */
    .page {
        *zoom: 1;
    }
    .page:before,
    .page:after {
        content: "";
        display: table;
    }
    .page:after {
        clear: both;
    }
    /**
	 * Comments
	 */
    .comments ol.commentlist {
        margin-bottom: 0;
    }
    /**
	 * Footer
	 */
    .footer {
        clear: both;
        float: none;
        display: block;
    }
    .footer .footer-content {
        display: inline;
        float: left;
        width: 93.85594478%;
        margin-left: 3.07202761%;
        margin-right: 3.07202761%;
        *width: 93.80386144%;
        *margin-left: 3.01994428%;
        *margin-right: 3.01994428%;
    }
    /**
	 * Styles applied when admin bar is present
	 */
    .admin-bar .main-nav {
        top: 28px;
    }
    /**
	 * Layout options
	 * sidebar-content is default, these styles override floats / margins etc for content-sidebar
	 */
    body.content-sidebar .sidebar {
        float: right;
    }
    body.content-sidebar .content {
        float: left;
    }
}


/**
 * Style
 */

.post-title a {
    color: #FFF;
}

html {
    font-family: "Encode Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
}

body {
    line-height: 1.777;
    color: #FFF;
    background: #222;
    font-size: 1em;
}


/**
 * Wrappers
 */

.inner-wrap {
    padding: 0 1.125em;
    background-color: #222;
}


/**
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.omega,
.psi,
.alpha,
.beta,
.gamma,
.delta {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
    color: #FFF;
    line-height: 1.333;
    position: relative;
    text-align: left;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.heading small,
.omega small,
.psi small,
.alpha small,
.beta small,
.gamma small,
.delta small {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.heading a,
.omega a,
.psi a,
.alpha a,
.beta a,
.gamma a,
.delta a {
    text-decoration: none;
}

.omega {
    font-size: 4.209em;
    letter-spacing: -2px;
    font-weight: 300;
}

.psi {
    font-size: 2.665em;
    letter-spacing: -1px;
    font-weight: 300;
}

h1,
.site-title,
.alpha {
    display: block;
    font-size: 1.777em;
    letter-spacing: -1px;
}

h1.archive-header,
.site-title.archive-header,
.alpha.archive-header {
    font-size: 1.125em;
}

h2,
.beta {
    font-size: 1.5em;
}

h3,
.gamma {
    font-size: 1.333em;
    font-weight: 600;
}

h4,
.delta {
    font-size: 1.125em;
    font-weight: 600;
}

h5,
h6 {
    font-size: 1em;
    font-weight: 700;
}

p+h1,
p+h2,
p+h3,
p+h4 {
    padding-top: 0;
}

p,
ul,
ol,
dl,
blockquote,
pre,
table,
fieldset,
article,
article footer,
nav,
form,
.wp-post-image {
    margin: 0 0 1.777em 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin: 0 0 0 1.777em;
}

dd {
    margin-left: 1.777em;
}

mark {
    background: none;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: manual;
    orphans: 3;
    widows: 3;
}

small,
.small {
    font-size: 0.844em;
    line-height: 1.75em;
}

strong,
dt {
    font-weight: 600;
}

acronym,
abbr[title] {
    cursor: help;
    font-variant: small-caps;
    font-weight: 600;
    border: none;
}

ins {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

blockquote {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    padding-left: 1.777em;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote cite {
    font-size: 0.844em;
    line-height: 1.75em;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
    font-size: .844em;
    display: block;
}

blockquote p+p cite,
blockquote p+cite {
    margin-top: -1.777em;
}

blockquote:before {
    content: "\201C";
    text-indent: -0.563em;
    float: left;
    font-size: 3.157em;
    font-family: "FontAwesome";
    line-height: 1;
}

code,
pre {
    background: rgba(0, 0, 0, 0.05);
    padding: 0.1em 0.201em;
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
    color: #dc5494;
    margin: 0 .201em;
    padding: 0 .201em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

pre {
    padding: .633em;
    margin-bottom: 1.777em;
}

pre code {
    background: none;
    border: 0;
}

span.ampersand {
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
}

time.post-date {
    display: none !important;
}


/**
 * Anchors
 */

a {
    color: #53a1b8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/**
 * Forms
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input.input-text,
textarea {
    padding: .844em;
    background: rgba(0, 0, 0, 0.05);
    color: #666a76;
    border: 0;
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
    outline: none;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #FFF;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFF;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder {
    /* Firefox 18- */
    color: #FFF;
}

.widget.widget_meta h2 {
    display: none;
}

aside#meta-2 li:not(::first-of-type) {
    display: none;
}

textarea {
    padding: 1em;
}

input[type="radio"] {
    -webkit-appearance: none;
    /* Hides the default radio style */
    height: 1.5em;
    width: 1.5em;
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    /* Opera/IE 8+ */
    font-size: .844em;
    border: 0.422em solid #666a76;
    background: #666a76;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    margin-right: 1em;
    float: left;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    -o-transition: all ease 0.238s;
    transition: all ease 0.238s;
}

input[type="radio"]:checked {
    background: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    /* Hides the default checkbox style */
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
    background-color: #666a76;
    margin-right: 1em;
    font-size: .844em;
}

input[type="checkbox"]:before,
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'FontAwesome';
    line-height: 1.5;
    content: "\f00c";
    color: #f8f8f9;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    -o-transition: all ease 0.238s;
    transition: all ease 0.238s;
}

input[type="checkbox"]:checked:before {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

input[type="submit"],
.button,
input[type="button"],
.navigation-post a,
.navigation-paging a {
    padding: .844em 1.125em;
    color: #f8f8f9;
    font-weight: 600;
    background: #53a1b8;
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
    border: 0;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    -o-transition: all ease 0.238s;
    transition: all ease 0.238s;
}

input[type="submit"]:hover,
.button:hover,
input[type="button"]:hover,
.navigation-post a:hover,
.navigation-paging a:hover {
    text-decoration: none;
    -webkit-box-shadow: inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
}

input[type="submit"]:active,
.button:active,
input[type="button"]:active,
.navigation-post a:active,
.navigation-paging a:active {
    -webkit-transform: translateY(0.075em);
    -webkit-box-shadow: inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
}


/**
 * General
 */

hr {
    height: 1px;
    border: 0;
    background: #666a76;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}

table {
    width: 100%;
    border-collapse: separate;
}

table th,
table td {
    padding: .563em;
    padding-left: 0;
}

table tr th,
table tr td {
    border-bottom: 0.134em solid rgba(0, 0, 0, 0.05);
}

img {
    display: block;
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
    max-width: 100%;
    height: auto;
}

img.wp-smiley {
    display: inline-block;
}


/**
 * Header
 */

.header {
    padding: 1.777em 1.125em 2.665em 1.125em;
    margin-left: -1.125em;
    margin-right: -1.125em;
    margin-bottom: 4.209em;
    background-color: #53a1b8;
    background-position: center center;
    background-repeat: no-repeat;
}

.header p.toggle-container {
    width: 2.369em;
    height: 2.369em;
    margin: 0 0 1.777em;
}

.site-intro {
    color: #fff;
}

.site-intro:hover {
    text-decoration: none;
}

.site-intro .avatar {
    width: 128px;
    height: auto;
    display: block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0.618em rgba(0, 0, 0, 0.05);
}

.site-intro .grav-clone {
    display: none;
}

.site-title,
.site-description {
    color: #fff;
}

.site-title a,
.site-description a {
    color: #fff;
}

.site-title {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
    color: #444854;
    line-height: 1.333;
    position: relative;
    text-align: left;
    font-size: 2.665em;
    letter-spacing: -1px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0;
}

.site-title small {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.site-title a {
    text-decoration: none;
}

.site-description {
    font-size: .844em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}


/**
 * Navigation
 */

ul.menu {
    padding-top: 1.777em;
}

.main-nav {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2.618em;
    background: #222;
}

.main-nav .buttons {
    padding: 1.777em 1.125em;
}

.main-nav .menu {
    padding: 0 1.125em;
}

.main-nav h2 {
    padding: 0 1.125em;
}

.navigation-paging,
.navigation-post,
.navigation-comments {
    margin-top: 1em;
    margin-bottom: 2.665em;
}

.infinite-scroll .navigation-paging {
    display: none;
}


/**
 * Posts
 */

article.post,
article.page {
    margin-bottom: 2.665em;
    padding-bottom: 1.999em;
}

.post-meta,
.post-date {
    font-size: .844em;
}


/**
 * Images
 */

.aligncenter {
    margin: 0 auto 1.777em;
}

.alignright {
    margin: 1.777em 0 1.777em 1.777em;
}

.gallery-caption,
.wp-caption-text {
    font-style: italic;
    font-size: .844em;
    line-height: 1.33em;
}

.wp-caption img {
    margin-bottom: 1em;
}

img.alignleft {
    margin: 1.777em 1.777em 1.777em 0;
}

img.wp-post-image {
    margin-bottom: 1.777em;
}

.gallery img {
    margin-left: auto;
    margin-right: auto;
}


/**
 * Comments
 */

.comments .bypostauthor>.comment-body .comment-content {
    background: #53a1b8;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.comments .bypostauthor>.comment-body .comment-content:after {
    border-color: transparent transparent #53a1b8 transparent;
}

.comments .bypostauthor>.comment-body .comment-content:before {
    display: none;
}

.comments .bypostauthor>.comment-body .comment-content a {
    color: #f8f8f9;
    text-decoration: underline;
}

.comments .bypostauthor>.comment-body .comment-content a:hover {
    text-decoration: none;
}

.comments .comment-content {
    padding: 1em;
    -webkit-box-shadow: 0 0 0 0.134em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0.134em rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 0.201em;
    border-radius: 0.201em;
    margin-bottom: 1em;
    position: relative;
}

.comments .comment-content p:last-child {
    margin-bottom: 0;
}

.comments .comment-content>ul,
.comments .comment-content>ol {
    margin-bottom: 1.777em;
}

.comments .comment-content:before,
.comments .comment-content:after {
    content: "";
    display: block;
    position: absolute;
    top: -1.6em;
    left: .844em;
    border: 0.75em solid rgba(0, 0, 0, 0.05);
    border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
}

.comments .comment-content:after {
    margin-top: .201em;
    border-color: transparent transparent #f8f8f9 transparent;
}

.comments .comment-author .comment-meta {
    font-size: .844em;
}

.comments .comment-body {
    margin-bottom: 2.665em;
}


/**
 * Widgets
 */

.widget {
    margin-bottom: 3.552em;
}

.widget_archive li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f115";
}

.widget_categories li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f114";
}

.widget_pages li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0f6";
}

.widget_recent_comments li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f075";
}

.widget_recent_comments li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0e5";
}

.widget_recent_entries li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f0f6";
}

.widget_recent_entries li:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    line-height: 1;
    content: "\f179";
    content: "\f016";
}


/**
 * Footer
 */

.footer {
    margin-left: -999em;
    margin-right: -999em;
    background: rgba(0, 0, 0, 0.02);
    padding: 4.209em 999em;
}


/**
 * Main Layout
 * @type Desktop
 */

@media only screen and (min-width: 769px) {
    /* Only apply the layout if the user is on a desktop / tablet */
    body {
        padding: 0;
        font-size: 1.125em;
    }
    .inner-wrap {
        padding: 0 3.157em;
    }
    /**
	 * Layout
	 */
    .content {
        padding-bottom: 4.209em;
    }
    /**
	 * Header
	 */
    .header {
        padding-top: 7.478em;
        padding-left: 999em;
        padding-right: 999em;
        margin-left: -999em;
        margin-right: -999em;
        background-color: #53a1b8;
    }
    .background-contrast .header {
        margin-left: -3.157em;
        margin-right: -3.157em;
        padding-left: 0;
        padding-right: 0;
    }
    .background-contrast .footer {
        margin-left: -3.157em;
        margin-right: -3.157em;
        padding-left: 3.157em;
        padding-right: 3.157em;
    }
    .background-contrast .main-nav {
        max-width: 69.75em;
        margin: 0 auto;
    }
    .csstransforms3d.csstransitions .background-contrast .main-nav {
        left: auto;
    }
    .site-title {
        font-weight: 400;
        margin: 0;
        margin-bottom: 1rem;
        color: #444854;
        line-height: 1.333;
        position: relative;
        text-align: left;
        font-size: 4.209em;
        letter-spacing: -2px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 0;
    }
    .site-title small {
        filter: alpha(opacity=@opacity * 100);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
    }
    .site-title a {
        text-decoration: none;
    }
    .site-intro .avatar {
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
    }
    .site-intro .avatar:hover {
        position: relative;
        -webkit-transform: translateY(-0.75em);
        -moz-transform: translateY(-0.75em);
        -ms-transform: translateY(-0.75em);
        transform: translateY(-0.75em);
    }
    .site-intro .site-title,
    .site-intro .site-description {
        text-align: center;
    }
    /**
	 * Navigation
	 */
    .main-nav {
        border-right: 0;
        border-bottom: 0.422em solid #53a1b8;
    }
    .main-nav .sub-menu {
        display: none;
    }
    .main-nav li.menu-item-has-children:hover>.sub-menu {
        display: block;
    }
    .main-nav ul.menu {
        /* CHILDREN */
    }
    .main-nav ul.menu>li:hover>a,
    .main-nav ul.menu>li>a:hover {
        background-color: #53a1b8;
        color: #fff;
    }
    .main-nav ul.menu>li.current-post-ancestor a {
        background: #a07640;
        color: #FFF;
    }
    .main-nav ul.menu>li.current-menu-item>a {
        position: relative;
    }
    .main-nav ul.menu>li.current-menu-item>a:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -0.563em;
        color: #53a1b8;
        border: 0.563em solid #53a1b8;
        border-color: transparent transparent #53a1b8 transparent;
    }
    .main-nav ul.menu>li.parent>a:after {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        speak: none;
        width: 1.5em;
        display: inline-block;
        text-align: right;
        line-height: 1;
        content: "\f179";
        content: "\f107";
    }
    .main-nav ul.menu a {
        padding: .844em 1.125em;
        text-decoration: none;
        -webkit-transition: all ease 0.238s;
        -moz-transition: all ease 0.238s;
        -o-transition: all ease 0.238s;
        transition: all ease 0.238s;
    }
    .main-nav ul.menu ul {
        width: 14.949em;
        background-color: #53a1b8;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
    .main-nav ul.menu ul li.parent>a:after {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        speak: none;
        width: 1.5em;
        display: inline-block;
        text-align: right;
        line-height: 1;
        content: "\f179";
        content: "\f105";
        float: right;
        line-height: 1.777;
    }
    .main-nav ul.menu ul li:hover>a,
    .main-nav ul.menu ul li.current-menu-item>a,
    .main-nav ul.menu ul li>a:hover {
        background-color: rgba(0, 0, 0, 0.05);
        padding-left: 1.5em;
    }
    .main-nav ul.menu ul a {
        padding: .475em 1.125em;
        color: #fff;
    }
    /**
	 * Sidebar
	 */
    .sidebar {
        padding: 4.209rem 0 0 0;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        font-size: .844em;
        margin-top: -4.209rem;
        /**
		  * Sidebar Widgets
		  */
    }
    .sidebar .widget {
        filter: alpha(opacity=@opacity * 100);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
    }
    /**
	 * Posts
   */
    .page-title,
    .post-title {
        font-weight: 400;
        margin: 0;
        color: #FFF;
        line-height: 1.333;
        position: relative;
        text-align: left;
        font-size: 2.665em;
        letter-spacing: -1px;
        font-weight: 300;
    }
    header.post-header {
        border-bottom: 1px solid #CCC;
        margin-bottom: 1rem;
    }
    header.post-header h3 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-weight: normal;
        font-style: italic;
        font-size: 22px;
        text-shadow: 0 0 10px #000, 0 1px 1px #000;
    }
    .post-wrap h3 {
        font-weight: normal;
        font-size: 13px;
        margin-top: 4px;
        margin-bottom: 0;
        text-shadow: none;
        font-style: none;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    .page-title small,
    .post-title small {
        filter: alpha(opacity=@opacity * 100);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
    }
    .page-title a,
    .post-title a {
        text-decoration: none;
    }
    blockquote {
        padding-left: 0;
    }
    /**
	 * Comments
	 */
    .comments .comment-content {
        padding: 1.999em;
    }
}

.page-template-default .inner-wrap {
    width: 100%;
    max-width: none;
}

.page-template-default .content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-template-default header,
.page-template-default aside {
    display: none;
}