@import url('https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i|Libre+Baskerville:400,400i,700');
html {
    background: #0b0b0b url('images/repeat-bg.jpg');
    color: #f7fae5;
    font-family: 'Libre Baskerville', serif;
    font-size: 125%;
    font-weight: 200;
    line-height: 1.875;
}

#intro {
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: url(images/felstorm-background.png);
    background-repeat: no-repeat;
    background-position: 11% 50%;
    background-size: 70% auto;
}

.section-content {
    min-height: 100vh;
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
    min-height: 45rem;
    float: left;
    width: 100%;
}

#intro:before {
    background: url('images/header-video-overlay.png');
    content: "";
    height: 1000px;
    left: 50%;
    margin-left: -1280px;
    position: absolute;
    bottom: 599px;
    width: 2560px;
    z-index: 100;
}

#intro img {
    max-width: 800px;
    margin-top: 80px;
}

#intro img.felsworn-dragon {
    left: 44%;
    bottom: 84px;
    max-width: 520px;
}

#intro:after {
    background: url('images/header-video-base.png');
    content: "";
    height: 600px;
    left: 50%;
    margin-left: -1280px;
    position: absolute;
    bottom: 0;
    width: 2560px;
}

.felsworn-dragon {
    position: absolute;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-content:before,
.section-content:after,
.application-form:before,
.application:after {
    background: url(images/section-divider-sprite.png) no-repeat;
    background-size: auto 200%;
    content: "";
    display: block;
    height: 7.7em;
    left: -10px;
    position: absolute;
    right: 0;
    top: -7.45em;
    z-index: 200;
    background-position: 50% 0;
}

.application-form {
    padding-top: 6em;
    padding-bottom: 6em;
    position: relative;
    min-height: 45rem;
    float: left;
    width: 100%;
}

.application-form label {
    font-family: 'Libre Baskerville', serif;
}

.application-form textarea,
.application-form input[type="text"]:focus,
.application-form input[type="text"]:hover,
.application-form input[type="text"],
.application-form input[type="number"],
.application-form input[type="url"],
.application-form input[type="url"]:focus,
.application-form input[type="url"]:hover {
    color: #1fe311;
    outline: 0;
}

.application-form label {
    clear: left;
    width: 40%;
    font-size: 20px;
    float: left;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Libre Baskerville', serif;
    padding-right: 15px;
    line-height: normal;
    display: inline-block;
    min-height: 40px;
    font-weight: normal;
}

.application-form .row * {
    box-sizing: border-box;
}

.application-form input[type="text"],
.application-form select,
.application-form input[type="number"],
.application-form input[type="url"] {
    margin-bottom: 20px;
    width: 60%;
    height: 35px;
    clear: right;
    float: right;
    background: none;
    border: 0;
    border-bottom: 1px #5e5f5e solid;
    display: inline-block;
    -webkit-transition: border-bottom 0.6s;
    outline: none;
    font-size: 20px;
    padding-left: 7px;
    font-family: 'Libre Baskerville', serif;
}

.application-form textarea {
    padding-left: 5px;
    border-radius: 3px;
    width: 60%;
    resize: none;
    font-size: 20px;
    float: right;
    background: none;
    border: 1px #5e5f5e solid;
    font-family: 'Libre Baskerville', serif;
    min-height: 400px;
}

#age-notice {
    float: right;
}

.application-form div.row {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.application-form input[type="text"]:focus,
.application-form input[type="text"]:hover,
.application-form input[type="number"]:focus,
.application-form input[type="number"]:hover,
.application-form input[type="url"]:focus,
.application-form input[type="url"]:hover {
    border: none;
    background: none;
    border-bottom: 1px #1fe311 solid;
}

.application-form textarea:focus,
.application-form textarea:hover {
    border: 1px #1fe311 solid;
}

.application-form input[type="submit"] {
    border: 1px #1fe311 solid;
    display: inline-block;
    width: 30% !important;
    min-width: 320px;
    height: 40px;
    margin-right: 0px;
    margin-top: 30px;
    background: none;
    color: #1fe311;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    box-shadow: none;
    text-shadow: none;
    font-weight: normal;
}

.application-form input[type="submit"]:hover {
    background-color: #1fe311;
    color: #FFF;
    -webkit-transition: all 160ms ease-in;
    transition: all 160ms ease-in;
    box-shadow: none;
    text-shadow: none;
}

.application-form .row.row-submit {
    text-align: center;
}

.application-form img {
    width: 100%;
}

.application-form .info {
    font-size: 24px;
    line-height: 1.6;
}

.application-form h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 42px;
    text-align: center;
    padding-bottom: 0;
    background-image: -webkit-linear-gradient(top, #769944 0%, #769944 22.916667%, #9fb84a 37.5%, #e8e361 55%);
    -webkit-background-clip: text;
    background-size: 1.2em 1.2em;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    line-height: 1.2;
    color: #e8e361;
    margin-top: 0;
}

.application-form select:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 25px 0 25px;
    border-color: #ebebeb transparent transparent transparent;
    content: '';
}

.application-form .change-template ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.application-form .change-template ul li {
    width: 25%;
    float: left;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    line-height: 50px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.application-form .change-template ul li.disabled {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.application-form .change-template ul li.disabled:not(.perma-disabled):hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.perma-disabled {
    position: relative;
}

.perma-disabled span {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5555555555;
    display: block;
    left: 0;
    top: 41%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    color: #c3914f;
}

.application-form .change-template ul li a {
    display: block;
}

.application-form .checkbox-row label,
.application-form .checkbox-row input {
    width: auto;
    font-size: 13px;
    text-transform: none;
}

.application-form .checkbox-row input {
    margin-top: 0;
}

#page-footer {
    display: none;
}

.fancy-legion-btn {
    background: none;
    border: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-size: 0.875rem;
    font-weight: 400;
    height: 110px;
    height: 5.5rem;
    line-height: 24px;
    line-height: 1.2rem;
    padding: 0 120px;
    padding: 0 6rem;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}

.Button-left,
.Button-left:after {
    background-size: 100% 100%;
    height: 110px;
    height: 5.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 138px;
    width: 6.9rem;
}

.Button-left {
    background-image: url(images/button-left.png);
}

.Button-middle {
    background-image: url(images/button-middle.png);
    left: 138px;
    left: 6.9rem;
    right: 138px;
    right: 6.9rem;
}

.Button-middle,
.Button-middle:after {
    background-repeat: repeat-x;
    background-size: auto 100%;
    bottom: 0;
    position: absolute;
    top: 0;
}

.Button-right {
    background-image: url(images/button-right.png);
}

.Button-right,
.Button-right:after {
    background-size: 100% 100%;
    height: 110px;
    height: 5.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 138px;
    width: 6.9rem;
}

.Button-light,
.Button-light:after {
    background: url(images/button-light.png) no-repeat;
    background-size: 100% 100%;
    height: 150px;
    height: 5.5rem;
    position: absolute;
    right: 0;
    width: 199px;
    width: 9.95rem;
}

.Button-text {
    font-size: 24px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 110px;
    line-height: 5.5rem;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
}

.Button-light:after {
    content: "";
    opacity: 0;
    top: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.Button-left:after {
    background-image: url(images/button-left-hover.png);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.Button-middle:after {
    background-image: url(images/button-middle-hover.png);
    content: "";
    left: 0;
    opacity: 0;
    right: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.Button-right:after {
    background-image: url(images/button-right-hover.png);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.Button:hover>.Button-left:after,
.Button:hover>.Button-right:after,
.Button:hover>.Button-middle:after,
.Button:hover>.Button-light:after {
    opacity: 1;
}

h2 {
    color: #b4b4b4;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    letter-spacing: 0.1rem;
    line-height: 1.230769;
    margin: 0 auto;
    max-width: 700px;
    max-width: 35rem;
    text-align: center;
    text-transform: uppercase;
}

h1,
h3 {
    background-image: -webkit-linear-gradient(top, #769944 0%, #769944 22.916667%, #9fb84a 37.5%, #e8e361 55%);
    -webkit-background-clip: text;
    background-size: 1.2em 1.2em;
    -webkit-text-fill-color: transparent;
    color: #e8e361;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {
    font-size: 45px;
    font-size: 2.2rem;
    letter-spacing: 4px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    max-width: 700px;
    max-width: 48rem;
    text-align: center;
    margin-bottom: 75px;
}

.section-content img {
    max-width: 400px;
    float: right;
    margin-left: 55px;
    margin-bottom: 55px;
    margin-top: 5px;
}