<div id="menu">
<ul>
   <li><a href="{U_INDEX}"><span>{L_INDEX}</span></a></li>
   <li><a href='#'><span>{L_QUICK_LINKS}</span></a>
      <ul>
					<!-- EVENT navbar_header_quick_links_before -->

					<!-- IF S_DISPLAY_SEARCH -->
						<!-- IF S_REGISTERED_USER -->
							<li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
						<!-- ENDIF -->
						<!-- IF S_USER_LOGGED_IN -->
							<li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
						<!-- ENDIF -->
						<!-- IF S_LOAD_UNREADS --> 
							<li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
						<!-- ENDIF -->
						<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
						<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
						<li><a href="{U_SEARCH}">{L_SEARCH}</a></li>
					<!-- ENDIF -->

					<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
						<!-- IF S_DISPLAY_MEMBERLIST --><li><a href="{U_MEMBERLIST}" >{L_MEMBERLIST}</a></li><!-- ENDIF -->
						<!-- IF U_TEAM --><li><a href="{U_TEAM}">{L_THE_TEAM}</a></li><!-- ENDIF -->
					<!-- ENDIF -->

					<!-- EVENT navbar_header_quick_links_after -->
         </li>
      </ul>
   </li>
   		<!-- EVENT overall_header_navigation_prepend -->
		<li><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
		<!-- EVENT overall_header_navigation_append -->
		<!-- IF U_ACP --><li><a href="{U_ACP}" title="{L_ACP}" >{L_ACP_SHORT}</a></li><!-- ENDIF -->
		<!-- IF U_MCP --><li><a href="{U_MCP}" title="{L_MCP}">{L_MCP_SHORT}</a></li><!-- ENDIF -->
	<!-- IF S_DISPLAY_PM -->
			<li>
				<a href="{U_PRIVATEMSGS}"><span>{L_PRIVATE_MESSAGES} [</span><strong>{PRIVATE_MESSAGE_COUNT}</strong><span>]</span></a>
			</li>
		<!-- ENDIF -->

<!-- IF S_REGISTERED_USER -->
		<li>
			<!-- EVENT navbar_header_username_prepend -->
				<a href="{U_PROFILE}">{CURRENT_USERNAME_SIMPLE}</a>
					<ul>
						<!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->
	
						<!-- EVENT navbar_header_profile_list_before -->
	
						<li><a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">{L_PROFILE}</a></li>
						<li><a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">{L_READ_PROFILE}</a></li>
	
						<!-- EVENT navbar_header_profile_list_after -->

						<li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
					</ul>
			<!-- EVENT navbar_header_username_append -->
		</li>
	<!-- IF S_NOTIFICATIONS_DISPLAY -->
			<li class="dropdown-container dropdown-{S_CONTENT_FLOW_END} rightside" style="float:right;">
				<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger"><span>{L_NOTIFICATIONS} [</span><strong>{NOTIFICATIONS_COUNT}</strong><span>]</span></a>
			</li>
		<!-- ENDIF -->
	<!-- ELSE -->
		<li data-skip-responsive="true"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
		<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
			<li data-skip-responsive="true"><a href="{U_REGISTER}" role="menuitem">{L_REGISTER}</a></li>
		<!-- ENDIF -->
		<!-- EVENT navbar_header_logged_out_content -->
	<!-- ENDIF -->
		<!-- IF U_CONTACT_US --><li class="small-icon rightside" data-last-responsive="true"><a href="{U_CONTACT_US}" role="menuitem">{L_CONTACT_US}</a></li><!-- ENDIF -->
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<li style="float:right;"><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH}</a></li>
		<!-- ENDIF -->
</ul>
</div>