@font-face {
    font-family: 'friz_quadrataregular';
    src: url('fonts/friz_quadrata_regular_1-webfont.eot');
    src: url('fonts/friz_quadrata_regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/friz_quadrata_regular_1-webfont.woff2') format('woff2'),
         url('fonts/friz_quadrata_regular_1-webfont.woff') format('woff'),
         url('fonts/friz_quadrata_regular_1-webfont.ttf') format('truetype'),
         url('fonts/friz_quadrata_regular_1-webfont.svg#friz_quadrataregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}
body {
    background: url(images/repeat-bg.jpg);
	background-color: #333;
    font-family: "Open Sans";
}
h1 {
	font-family: "friz_quadrataregular", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #21882d;
    margin-top: 35px;
    margin-bottom: 100px;
    font-size: 90px;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #286612, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #286612, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
h2 {
	text-align: center;
    margin-top: 5px;
	color: #CCC;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
main section {
    padding-top: 50px;
    position: relative;
    float: left;
    width: 100%;
}
main section.characters {
    margin-top: 45px;
    height: 795px;
    background-color: #CCC;
}
main section.characters .character-information {
    float: left;
    width: 100%;
}
main section.characters.helius {
    background: url("images/helius-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
main section.characters.helius .left-info img { 
    width: 1105px;
    margin-left: -420px;
    margin-top: 80px;
}
main section.characters.helius .left-info, 
main section.characters.helius .right-info {
    width: 50%;
    float: left;
}
main section.characters.helius .right-info {
    margin-top: 165px;
}
main section.characters.helius .right-info h4 {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "friz_quadrataregular";
    letter-spacing: 5px;
}
main section.characters.helius .right-info p {
    white-space: normal;
    font-size: 16px;
    line-height: 33px;
    text-shadow: 1px 1px 1px #000;
}
main section.characters ul {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}
main section.characters ul li {
    margin-left: 35px;
    display: inline-block;
    color: #FFF;
}
main section.info:before {
    background: url(images/section-divider-sprite.png) no-repeat;
    background-size: auto 188%;
    content: "";
    display: block;
    height: 7.7em;
    left: 0;
    position: absolute;
    right: 0;
    top: -3.45em;
    z-index: 200;
}
h3, p {
    color: #FFF;
    text-align: center;
}
p {
    margin-top: 20px;
}
.container {
    margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1196px;
  }
}