<!-- IF S_SMARTFEED_USER_INTERFACE -->
<!-- INCLUDE overall_header.html -->
<div id="pagecontent">

	<!-- IF S_SMARTFEED_NO_FORUMS -->
	<p style="text-align:center"><span class="gen">{L_SMARTFEED_NO_FORUMS_AVAILABLE}<br /><br /></span></p>
	<!-- ELSE -->

	<form name="phpbbservices_smartfeed" id="phpbbservices_smartfeed" action="#">
	<h2>{S_SMARTFEED_TITLE}</h2> 

	<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
	
	  <tr>
		<td class="row2" colspan="2" style="padding: 5px; width: 30%;"><span class="gen">
			<!-- IF S_SMARTFEED_IS_GUEST -->
			{L_SMARTFEED_NOT_LOGGED_IN}<br /><br />
			<!-- ENDIF -->
			{L_SMARTFEED_EXPLANATION}
		</span></td>
	  </tr>
	  
	  <tr>
		  <th colspan="2">{L_SMARTFEED_FORUM_SELECTION}</th>
	  </tr>

	  <tr>
		<td valign="top" class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_SELECT_FORUMS}:</b><br />{L_SMARTFEED_SELECT_FORUMS_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
		  <input type="checkbox" name="all_forums" id="all_forums" {S_SMARTFEED_ALL_BY_DEFAULT} onClick="uncheck_subscribed_forums(this);" onChange="reset_url(this);"/> <label for="all_forums"><span class="gen"><b>{L_SMARTFEED_ALL_FORUMS}</b></span></label><br /><br />
		  <div id="div_0">
			<!-- BEGIN forums -->
				<!-- IF not forums.S_SMARTFEED_PRINT and forums.S_SMARTFEED_DIV_OPEN -->
				<div id="{forums.CAT_ID}" style="position:relative; left:20px;">
				<!-- ENDIF -->
				<!-- IF forums.S_SMARTFEED_PRINT -->
					<!-- IF forums.S_SMARTFEED_IS_FORUM -->
					<input type="checkbox" name="{forums.FORUM_NAME}" id="{forums.FORUM_NAME}" {forums.FORUM_CHECKED} {forums.FORUM_DISABLED} onClick="check_or_uncheck_all_forums();" onChange="reset_url(this);"/> <label for="{forums.FORUM_NAME}"><span class="gen">{forums.FORUM_PREFIX}{forums.FORUM_LABEL}{forums.FORUM_SUFFIX}</span></label><br />
					<!-- ELSE -->
					<span class="gen"><i>{forums.FORUM_LABEL}</i></span><br />
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF not forums.S_SMARTFEED_PRINT and not forums.S_SMARTFEED_DIV_OPEN -->
				</div>
				<!-- ENDIF -->
			<!-- END forums -->
		  </div>
		</td>
	  </tr>

	  <tr>
		  <th colspan="2">{L_SMARTFEED_FILTER_CRITERIA}</th>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_FIRST_POST_ONLY}:</b></span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
			<input type="radio" name="firstpostonly" id="firstpostonly2" value="NO" onchange="reset_url(this);" onclick="disable_or_enable_all_the_forums(0);" checked="checked" /> <label for="firstpostonly2"><span class="gen">{L_SMARTFEED_POSTS_TYPE_ANY}</span></label>
			<input type="radio" name="firstpostonly" id="firstpostonly1" value="YES" onchange="reset_url(this);" onclick="disable_or_enable_all_the_forums(0);" /> <label for="firstpostonly1"><span class="gen">{L_SMARTFEED_POSTS_TYPE_FIRST}</span></label> 
			<!-- IF not S_SMARTFEED_IS_GUEST -->
			<input type="radio" name="firstpostonly" id="bookmarks" value="BM" onchange="reset_url(this);" onclick="disable_or_enable_all_the_forums(1);" /> <label for="bookmarks"><span class="gen">{L_SMARTFEED_USE_BOOKMARKS}</span></label> 
			<!-- ENDIF -->
		</td>
	  </tr>
				
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><label for="post_limit"><b>{L_SMARTFEED_LIMIT}:</b></label><br />{L_SMARTFEED_LIMIT_EXPLAIN} {L_SMARTFEED_LIMIT_SET_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
			<select name="post_limit" id="post_limit" onChange="reset_url(this);">
				<!-- IF not S_SMARTFEED_IS_GUEST -->
				<option value="{S_SMARTFEED_SINCE_LAST_VISIT_VALUE}">{L_SMARTFEED_SINCE_LAST_VISIT_TEXT}</option>
				<!-- ENDIF -->
				<option value="{S_SMARTFEED_NO_LIMIT_VALUE}">{L_SMARTFEED_NO_LIMIT}</option>
				<option value="{S_SMARTFEED_LAST_QUARTER_VALUE}">{L_SMARTFEED_LAST_QUARTER}</option>
				<option value="{S_SMARTFEED_LAST_MONTH_VALUE}">{L_SMARTFEED_LAST_MONTH}</option>
				<option value="{S_SMARTFEED_LAST_TWO_WEEKS_VALUE}">{L_SMARTFEED_LAST_TWO_WEEKS}</option>
				<option value="{S_SMARTFEED_LAST_WEEK_VALUE}">{L_SMARTFEED_LAST_WEEK}</option>
				<option value="{S_SMARTFEED_LAST_DAY_VALUE}" {S_SMARTFEED_DAY_DEFAULT}>{L_SMARTFEED_LAST_DAY}</option>
				<option value="{S_SMARTFEED_LAST_12_HOURS_VALUE}">{L_SMARTFEED_LAST_12_HOURS}</option>
				<option value="{S_SMARTFEED_LAST_6_HOURS_VALUE}">{L_SMARTFEED_LAST_6_HOURS}</option>
				<option value="{S_SMARTFEED_LAST_3_HOURS_VALUE}">{L_SMARTFEED_LAST_3_HOURS}</option>
				<option value="{S_SMARTFEED_LAST_1_HOURS_VALUE}">{L_SMARTFEED_LAST_1_HOURS}</option>
				<option value="{S_SMARTFEED_LAST_30_MINUTES_VALUE}">{L_SMARTFEED_LAST_30_MINUTES}</option>
				<option value="{S_SMARTFEED_LAST_15_MINUTES_VALUE}">{L_SMARTFEED_LAST_15_MINUTES}</option>
			</select>
		</td>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><label for="count_limit"><b>{L_SMARTFEED_MAX_ITEMS}:</b></label><br />{L_SMARTFEED_MAX_ITEMS_EXPLAIN_MAX}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;"><input type="text" class="inputbox autowidth" size="3" maxlength="3" name="max_items" id="max_items" value="{S_SMARTFEED_MAX_ITEMS}" onblur="check_whole_number_range(this,{S_SMARTFEED_MAX_ITEMS},false);" onchange="reset_url(this);" /></td>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><label for="min_word_size"><b>{L_SMARTFEED_MIN_WORDS}:</b></label><br />{L_SMARTFEED_MIN_WORDS_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
			<input type="text" name="min_words" id="min_words" value="{S_SMARTFEED_MAX_WORD_SIZE}" class="post" size="4" maxlength="4" onblur="check_for_negative_value(this);" onchange="reset_url(this);"/>
		</td>
	  </tr>

	  <!-- IF not S_SMARTFEED_IS_GUEST -->
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_REMOVE_YOURS}:</b></span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
		  <span class="gen"><input type="radio" name="remove_yours" id="remove_yours1" value="YES" onchange="reset_url(this);"/> <label for="remove_yours1">{L_YES}</label>
		  <input type="radio" name="remove_yours" id="remove_yours2" checked="checked" value="NO" onchange="reset_url(this);"/> <label for="remove_yours2">{L_NO}</label></span>
		</td>
	  </tr>
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_FILTER_FOES}:</b></span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
		  <span class="gen"><input type="radio" name="filter_foes" checked="checked" id="filter_foes1" value="YES" onchange="reset_url(this);"/> <label for="filter_foes1">{L_YES}</label>
		  <input type="radio" name="filter_foes" id="filter_foes2" value="NO" onchange="reset_url(this);"/> <label for="filter_foes2">{L_NO}</label></span>
		</td>
	  </tr>
	  <!-- ENDIF -->

	  <tr>
		  <td colspan="2" class="spacer" />
	  </tr>

	  <tr>
		  <th colspan="2">{L_SMARTFEED_ADDITIONAL_CRITERIA}</th>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><label for="sort_by"><b>{L_SMARTFEED_SORT_BY}:</b></label><br />{L_SMARTFEED_SORT_BY_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
			<select name="sort_by" id="sort_by" onchange="reset_url(this);">
				<!-- IF not S_SMARTFEED_IS_GUEST -->
				<option value="{S_SMARTFEED_BOARD}">{L_SMARTFEED_SORT_USER_ORDER}</option>
				<!-- ENDIF -->
				<option value="{S_SMARTFEED_STANDARD}">{L_SMARTFEED_SORT_FORUM_TOPIC}</option>
				<option value="{S_SMARTFEED_STANDARD_DESC}">{L_SMARTFEED_SORT_FORUM_TOPIC_DESC}</option>
				<option value="{S_SMARTFEED_POSTDATE_ASCENDING}">{L_SMARTFEED_SORT_POST_DATE}</option>
				<option value="{S_SMARTFEED_POSTDATE_DESCENDING}">{L_SMARTFEED_SORT_POST_DATE_DESC}</option>
			</select>
		</td>
	  </tr>

	  <!-- IF not S_SMARTFEED_IS_GUEST -->
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_PRIVATE_MESSAGES_IN_FEED}:</b></span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
		  <span class="gen"><input type="radio" name="pms" id="pms1" value="YES" onchange="reset_url(this);"/> <label for="pms1">{L_YES}</label>
		  <input type="radio" name="pms" id="pms2" checked="checked" value="NO" onchange="reset_url(this);"/> <label for="pms2">{L_NO}</label> &nbsp;<input type="checkbox" name="mark_read" id="mark_read" /> <label for="mark_read">{L_SMARTFEED_MARK_READ}</label></span>
		</td>
	  </tr>
	  <!-- ENDIF -->

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><label for="max_word_size"><b>{L_SMARTFEED_MAX_WORD_SIZE}:</b></label><br />{L_SMARTFEED_MAX_WORD_SIZE_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
			<input type="text" size="4" maxlength="4" name="max_word_size" id="max_word_size" class="post" value="{S_SMARTFEED_MAX_WORD_SIZE}" onBlur="check_for_negative_value(this);" onChange="reset_url(this);" />
		</td>
	  </tr>

	  <tr>
		  <th colspan="2">{L_SMARTFEED_FORMAT_AND_ACCESS}</th>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_FEED_TYPE}:</b></span></td>
		<td class="row2" style="padding: 5px; width: 30%;"><span class="gen">
			<label for="feed_type3"><input type="radio" name="feed_type" id="feed_type3" value="{S_SMARTFEED_ATOM_10_VALUE}" onchange="reset_url(this);" checked="checked" /> <img src="{U_SMARTFEED_IMAGE_PATH}newsfeed_atom10.gif" alt="{L_SMARTFEED_ATOM_10}" title="{L_SMARTFEED_ATOM_10}" style="vertical-align:-3px" /></label>
			<label for="feed_type1"><input type="radio" name="feed_type" id="feed_type1" value="{S_SMARTFEED_RSS_20_VALUE}" onchange="reset_url(this);" /> <img src="{U_SMARTFEED_IMAGE_PATH}newsfeed_rss20.gif" alt="{L_SMARTFEED_RSS_20}" title="{L_SMARTFEED_RSS_20}" style="vertical-align:-3px" /></label> 
			<label for="feed_type2"><input type="radio" name="feed_type" id="feed_type2" value="{S_SMARTFEED_RSS_10_VALUE}" onchange="reset_url(this);" /> <img src="{U_SMARTFEED_IMAGE_PATH}newsfeed_rss10.gif" alt="{L_SMARTFEED_RSS_10}" title="{L_SMARTFEED_RSS_10}" style="vertical-align:-3px" /></label></span>
		</td>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_FEED_STYLING}:</b><br />{L_SMARTFEED_FEED_STYLING_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;">
		  <span class="gen">
			  <label for="style1" title="{L_SMARTFEED_STYLE_COMPACT_EXPLAIN}"><input type="radio" name="style" id="style1" value="{S_SMARTFEED_COMPACT_VALUE}" onchange="reset_url(this);" checked="checked" /> {L_SMARTFEED_STYLE_COMPACT}</label><br />
			  <label for="style2" title="{L_SMARTFEED_STYLE_BASIC_EXPLAIN}"><input type="radio" name="style" id="style2" style="margin-top: 3px;" value="{S_SMARTFEED_BASIC_VALUE}" onchange="reset_url(this);" /> {L_SMARTFEED_STYLE_BASIC}</label><br />
			  <label for="style3" title="{L_SMARTFEED_STYLE_HTML_SAFE_EXPLAIN}"><input type="radio" name="style" id="style3" style="margin-top: 3px;" value="{S_SMARTFEED_HTMLSAFE_VALUE}" onchange="reset_url(this);" /> {L_SMARTFEED_STYLE_HTML_SAFE}</label><br />
			  <label for="style4" title="{L_SMARTFEED_STYLE_HTML_EXPLAIN}"><input type="radio" name="style" id="style4" style="margin-top: 3px;" value="{S_SMARTFEED_HTML_VALUE}" checked="checked" onchange="reset_url(this);" /> {L_SMARTFEED_STYLE_HTML}</label>
		  </span>
		</td>
	  </tr>

	  <!-- IF not S_SMARTFEED_IS_GUEST -->
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_LASTVISIT_RESET}:</b></span></td>
		<td class="row2" style="padding: 5px; width: 30%;"><span class="gen">
		  <input type="radio" name="lastvisit" id="lastvisit1" checked="checked" value="YES" onchange="reset_url(this);"/> <label for="lastvisit1">{L_YES}</label>
		  <input type="radio" name="lastvisit" id="lastvisit2" value="NO" onchange="reset_url(this);" /> <label for="lastvisit2">{L_NO}</label></span>
		</td>
	  </tr>
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_IP_AUTH}:</b><br />{L_SMARTFEED_IP_AUTHENTICATION_EXPLAIN}</span></td>
        <!-- IF not S_SMARTFEED_REQUIRED_IP_AUTHENTICATION -->
			<td class="row2" style="padding: 5px; width: 30%;">
                <span class="gen"><label for="ip_auth1"><input type="radio" name="ip_auth" id="ip_auth1" value="YES" onchange="reset_url(this);" /> {L_YES}</label> 
                <label for="ip_auth2"><input type="radio" name="ip_auth" id="ip_auth2" value="NO" onchange="reset_url(this);" checked="checked" /> {L_NO}</label></span>
			</td>
            <!-- ENDIF -->
	  </tr>
	  <!-- ENDIF -->
	  	  
	  <tr>
		  <td colspan="2" class="spacer" />
	  </tr>

	  <tr>
		  <th colspan="2">{L_SMARTFEED_URL}</th>
	  </tr>

	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><label for="url"><b>{L_SMARTFEED_GENERATE_BUTTON}:</b></label><br />{L_SMARTFEED_GENERATE_BUTTON_EXPLAIN}</span></td>
		<td class="row2"><span class="gen"><input type="button" class="btnmain" value="{L_SMARTFEED_GENERATE_URL_TEXT}" onclick="create_URL();" /><br /><input type="text" name="url" id="url" size="80" maxlength="3000" class="post" onfocus="this.select();" /></span></td>
	  </tr>
	  <tr>
		<td class="row1" style="padding: 5px; width: 30%;"><span class="gen"><b>{L_SMARTFEED_TEST_BUTTON}:</b><br />{L_SMARTFEED_TEST_BUTTON_EXPLAIN}</span></td>
		<td class="row2" style="padding: 5px; width: 30%;"><span class="gen"><input type="button" name="runit" id="runit" value="{L_SMARTFEED_TEST}" class="btnmain" onclick="test_feed();"/></span><br />
		</td>
	  </tr>
	  <tr>
		<td colspan="2">
			<div style="text-align: center; margin-top:5px;">
				<img src="{U_SMARTFEED_IMAGE_PATH}valid-atom.png" alt="{L_SMARTFEED_VALID_ATOM_1}" title="{L_SMARTFEED_VALID_ATOM_1}" />
				<img src="{U_SMARTFEED_IMAGE_PATH}valid-rss-rogers.png" alt="{L_SMARTFEED_VALID_RSS_2}" title="{L_SMARTFEED_VALID_RSS_2}" />
				<img src="{U_SMARTFEED_IMAGE_PATH}valid-rss.png" alt="{L_SMARTFEED_VALID_RSS_1}" title="{L_SMARTFEED_VALID_RSS_1}" />
			</div>
		</td>
	  </tr>
	</table>
	
	</form>
	<!-- ENDIF -->
</div>

<div style="text-align:center" class="copyright">Powered by <a href="{S_SMARTFEED_PAGE_URL}" class="copyright">{L_SMARTFEED_POWERED_BY}</a></div>
<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->
<!-- ELSE -->
<!-- IF S_SMARTFEED_FEED_TYPE eq 1 -->
<?xml version="1.0" encoding="utf-8"?>
<rdf:RDF
	xmlns="http://purl.org/rss/1.0/"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel rdf:about="{S_SMARTFEED_FEED_CHANNEL_ABOUT}">
		<title><![CDATA[{L_SMARTFEED_FEED_TITLE}]]></title>
		<description>{L_SMARTFEED_FEED_DESCRIPTION}</description>
		<link>{U_SMARTFEED_FEED_LINK}</link>
		<image rdf:resource="{U_SMARTFEED_FEED_IMAGE}" />
		<dc:date>{S_SMARTFEED_FEED_UPDATED}</dc:date>
		<items>
<!-- BEGIN items -->
			<rdf:Seq>
				<rdf:li rdf:resource="{items.U_RESOURCE}"/>
			</rdf:Seq>
<!-- END items -->
		</items>
	</channel>
	<image rdf:about="{U_SMARTFEED_FEED_IMAGE}">
		<title><![CDATA[{L_SMARTFEED_FEED_IMAGE_TITLE}]]></title>
		<link>{U_SMARTFEED_FEED_IMAGE_LINK}</link>
		<url>{U_SMARTFEED_FEED_IMAGE}</url>
	</image>
<!-- BEGIN items -->
	<item rdf:about="{items.U_LINK}">
		<dc:format>text/html</dc:format>
		<dc:date>{items.S_DATE}</dc:date>
		<dc:source>{items.U_SOURCE}</dc:source>
		<dc:creator><![CDATA[{items.S_CREATOR}]]></dc:creator>
		<title><![CDATA[{items.L_TITLE}]]></title>
		<link>{items.U_LINK}</link>
		<description><![CDATA[{items.L_DESCRIPTION}]]></description>
	</item>
<!-- END items -->
</rdf:RDF>
<!-- ELSEIF S_SMARTFEED_FEED_TYPE eq 2 -->
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title><![CDATA[{L_SMARTFEED_FEED_TITLE}]]></title>
		<description><![CDATA[{L_SMARTFEED_FEED_DESCRIPTION}]]></description>
		<link>{U_SMARTFEED_FEED_ID}</link>
		<lastBuildDate>{S_SMARTFEED_FEED_BUILD_DATE}</lastBuildDate>
		<generator>{U_SMARTFEED_FEED_GENERATOR}</generator>
		<atom:link href="{U_SMARTFEED_FEED_LINK}" type="application/rss+xml" />
		<!-- IF S_SMARTFEED_SHOW_WEBMASTER -->
		<webMaster>{U_SMARTFEED_WEBMASTER}</webMaster>
		<!-- ENDIF -->
		<image>
			<url>{U_SMARTFEED_FEED_IMAGE}</url>
			<title><![CDATA[{L_SMARTFEED_FEED_IMAGE_TITLE}]]></title>
			<link>{U_SMARTFEED_FEED_ID}</link>
		</image>
		<language>{S_SMARTFEED_FEED_LANGUAGE}</language>
		<pubDate>{S_SMARTFEED_FEED_PUBDATE}</pubDate>
		<ttl>{S_SMARTFEED_FEED_TTL}</ttl>
<!-- BEGIN items -->
		<item>
			<title><![CDATA[{items.L_TITLE}]]></title>
			<link>{items.U_LINK}</link>
			<description><![CDATA[{items.L_DESCRIPTION}]]></description>
			<author>{items.S_AUTHOR}</author>
			<category><![CDATA[{items.L_CATEGORY}]]></category>
			<comments>{items.U_COMMENTS}</comments>
			<pubDate>{items.S_PUBDATE}</pubDate>
			<guid isPermaLink="false">{items.U_GUID}</guid>
		</item>
<!-- END items -->
	</channel>
</rss>
<!-- ELSE -->
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-GB">
	<title><![CDATA[{L_SMARTFEED_FEED_TITLE}]]></title>
	<subtitle><![CDATA[{L_SMARTFEED_FEED_DESCRIPTION}]]></subtitle>
	<id>{U_SMARTFEED_FEED_ID}</id>
	<link type="application/atom+xml" href="{U_SMARTFEED_FEED_LINK}" />
	<updated>{S_SMARTFEED_FEED_UPDATED}</updated>
	<generator uri="{U_SMARTFEED_FEED_PAGE_URL}" version="{S_SMARTFEED_FEED_VERSION}">{U_SMARTFEED_FEED_GENERATOR}</generator>
<!-- BEGIN items -->
	<entry>
		<title><![CDATA[{items.L_TITLE}]]></title>
		<link rel="alternate" type="text/html" href="{items.U_LINK}"/>
		<published>{items.S_PUBLISHED}</published>
		<updated>{items.S_UPDATED}</updated>
		<id>{items.U_ID}</id>
		<author>
			<name><![CDATA[{items.L_NAME}]]></name>
			<email><![CDATA[{items.L_EMAIL}]]></email>
		</author>
		<category term="{items.L_CATEGORY}" />
		<content type="html"><![CDATA[{items.L_CONTENT}]]></content>
		<summary type="html"><![CDATA[{items.L_SUMMARY}]]></summary>
	</entry>
<!-- END items -->
</feed>
<!-- ENDIF -->
<!-- ENDIF -->