
@font-face {
  font-family: 'FrizQuadrata';
  src: url('../fonts/FrizQuadrataFont.eot?#iefix') format('embedded-opentype'),  url('../fonts/FrizQuadrataFont.woff') format('woff'), url('../fonts/FrizQuadrataFont.ttf')  format('truetype'), url('../fonts/FrizQuadrataFont.svg#FrizQuadrataFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Episode1';
  src: url('../fonts/EPISODEI.eot?#iefix') format('embedded-opentype'),  url('../fonts/EPISODEI.woff') format('woff'), url('../fonts/EPISODEI.ttf')  format('truetype'), url('../fonts/EPISODEI.svg#FrizQuadrataFont') format('svg');
  font-weight: normal;
  font-style: normal;
}



html body {
    background: #0b0b0b url('images/repeat-bg.jpg');
    color: #f7fae5;
    font-size: 125%;
    font-weight: 200;
    line-height: 1.875;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body .h3, body h3 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .red-bg h3 {
     /* background: -webkit-linear-gradient(#aa1a1a, #222222);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    color: #e8e361;
    font-family: "FrizQuadrata", "Trebuchet MS", Helvetica, sans-serif;*/
    text-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.75);
    font: italic 33px 'Palatino Linotype', Serif;
    letter-spacing: -0.1px;
    color: #912127;
    text-shadow: 1px 3px 3px #000;
    text-align: center;
}
.Grid {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 70px;
    padding: 0 3.5rem;
    position: relative;
}
.character-section .col-6 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    position: relative;
    height: 100vh;
}
.character-section .left img {
    max-width: 92%;
    margin-left: 72px;
    position: absolute;
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.character-section .right p,
.character-section .right h3 {
    max-width: 605px;
}
footer {
    width: 100%;
    clear: both;
    display: block;
    float: left;
}
.character-section p {
    font-size: 18px;
    line-height: 2;
    margin-top: 37px;
    white-space: normal;
    text-align: center;
    font-family: "Raleway";
    text-shadow: 3px 3px 3px #000;
    color: #ebebeb;
}
.red-bg {
    background: url('images/red-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -401px;
    float: left;
    width: 100%;
}
.azrael-bg {
    background: url('images/azrael-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 147%;
    float: left;
    background-color: #000;
    width: 100%;
    height: 100vh;
}
.green-bg {
    background: url('images/green-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: -142px -351px;
    float: left;
    background-color: #000;
    width: 100%;    
}
.character-section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.character-section .col-6.right div {
    transform: translate(0%, -50%);
    top: 50%;
    position: absolute;
} 
.character-section.azrael .col-6.right div,
.character-section.malph .col-6.right div {
    top: 50%;
}
.green-bg h3 {
    background-image: -webkit-linear-gradient(top, #769944 0%, #769944 22.916667%, #9fb84a 37.5%, #e8e361 55%);
    -webkit-background-clip: text;
    background-size: 1.2em 1.2em;
    -webkit-text-fill-color: transparent;
    color: #e8e361;
    font: italic 33px 'Palatino Linotype', Serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 3px;
}
section {
    width: 100%;
    float: left;
    position: relative;
    min-height: 105vh; 
    max-width: 100vw;
}
section#chrs {
    background-color: #000;
}
video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #000 no-repeat;
    background-size: cover; 
}
section#cata video#bgvid {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
* {
    margin: 0;
    padding: 0;
}
#text-intro {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}
section#mop #text-intro {
    bottom: auto;
    top: 20%;
}
#text-intro h1,
#text-intro h2 {
    font-style: normal;
    margin-top: 5px;
    font: 40px 'Palatino Linotype', Serif;
    letter-spacing: 3px;
    text-shadow: 0;
}
#text-intro h2 {
    font-size: 20px;
    font-family: "Raleway";
    margin-top: 15px;
}
#text-intro p {
    color: #f7fae5;
    font-family: "Raleway";
    font-size: 17px;
    font-weight: normal;
}
.characters {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); 
    width: 100%;   
}
body {
    overflow: hidden;
}
body > nav {
    position: fixed;
    background-color: #000;
    right: 0;
    z-index: 9000;
}
body > nav ul {
    list-style: none;
}
body > nav li a {
    font-size: 16px;
    color: #FFF;
}
nav {
    z-index: 9000;
    position: absolute;
    top: 0;
}
section#chrs nav {
    width: 95%;
    margin-top: 20px;
}
section#chrs nav ul {
    list-style: none;
    text-align: center;
}
section#chrs nav ul li {
    display: inline-block;
    margin-left: 35px;
}
section#chrs nav ul li a {
    font-family: "Raleway";
    font-size: 16px;
    color: #FFF;
}