<a id="recent_topics"></a>
<div id="recent-topics-box" class="collapse-box">
	<h2 class="open">{L_RECENT_TOPICS}</h2>
	<div id="recent-topics">

<!-- BEGIN recent_topics -->
	<!-- IF not recent_topics.S_TOPIC_TYPE_SWITCH and not recent_topics.S_FIRST_ROW -->
	</ul>
	<!-- ENDIF -->

	<!-- IF recent_topics.S_FIRST_ROW or not recent_topics.S_TOPIC_TYPE_SWITCH -->
	<ul>
	<!-- ENDIF -->
		<li class="row<!-- IF recent_topics.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF recent_topics.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF recent_topics.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF recent_topics.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon {recent_topics.TOPIC_IMG_STYLE}">
				<dt<!-- IF recent_topics.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{recent_topics.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{recent_topics.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF recent_topics.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{recent_topics.U_NEWEST_POST}" class="icon-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- EVENT topiclist_row_prepend -->
						<!-- IF recent_topics.S_UNREAD_TOPIC and not S_IS_BOT --><!-- ENDIF --><a href="{recent_topics.U_VIEW_TOPIC}" class="topictitle"<!-- IF recent_topics.TOPIC_AUTHOR_COLOUR --> style="color: {recent_topics.TOPIC_AUTHOR_COLOUR}"<!-- ENDIF -->>{recent_topics.TOPIC_TITLE}</a>

						<div class="forum-links">
							<!-- IF recent_topics.S_HAS_POLL -->{POLL_IMG} <!-- ENDIF -->
							<!-- IF recent_topics.S_POST_GLOBAL and FORUM_ID != recent_topics.FORUM_ID -->
								<a href="{recent_topics.U_VIEW_FORUM}">{recent_topics.FORUM_NAME}</a>
							<!-- ELSEIF recent_topics.U_VIEW_FORUM and recent_topics.FORUM_NAME -->
								<!-- BEGIN parent_forums -->
								<a href="{recent_topics.U_VIEW_USER}" class="user name"<!-- IF recent_topics.TOPIC_AUTHOR_COLOUR --> style="color: {recent_topics.TOPIC_AUTHOR_COLOUR}"<!-- ENDIF -->>{recent_topics.TOPIC_AUTHOR}</a>

								<a class="forum-link" href="{recent_topics.parent_forums.U_VIEW_FORUM}">{recent_topics.parent_forums.FORUM_NAME}</a> &raquo; <!-- END parent_forums --><a class="forum-link" href="{recent_topics.U_VIEW_FORUM}">{recent_topics.FORUM_NAME}</a>
							<!-- ENDIF -->
						</div>

						<!-- EVENT topiclist_row_append -->
					</div>
				</dt>
				<!-- IF not S_IS_BOT -->
				<dd class="lastpost"><!-- IF RT_SORT_START_TIME -->{recent_topics.FIRST_POST_TIME}<!-- ELSE -->{recent_topics.LAST_POST_TIME}<!-- ENDIF --> <a href="{recent_topics.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{LAST_POST_IMG}</a></dd>
				<!-- ENDIF -->
				<dd class="status-icons">
					<!-- IF recent_topics.S_TOPIC_UNAPPROVED or recent_topics.S_POSTS_UNAPPROVED --><a href="{recent_topics.U_MCP_QUEUE}">{recent_topics.UNAPPROVED_IMG}</a><!-- ENDIF -->
					<!-- IF recent_topics.S_TOPIC_DELETED --><a href="{recent_topics.U_MCP_QUEUE}">{recent_topics.DELETED_IMG}</a><!-- ENDIF -->
					<!-- IF recent_topics.S_TOPIC_REPORTED --><a href="{recent_topics.U_MCP_REPORT}">{recent_topics.REPORTED_IMG}</a><!-- ENDIF -->
					<!-- IF recent_topics.ATTACH_ICON_IMG -->{recent_topics.ATTACH_ICON_IMG}<!-- ENDIF -->
				</dd>

			</dl>
		</li>
	<!-- IF recent_topics.S_LAST_ROW -->
	</ul>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner">
		<strong>{L_NO_TOPICS}</strong>
		</div>
	</div>
<!-- END recent_topics -->

	<!-- IF .pagination -->
	<div class="action-bar">
		<div class="pagination">
			<!-- INCLUDE pagination.html -->
		</div>
	</div>
	<!-- ENDIF -->

	</div>
</div>
