		<!-- EVENT overall_footer_content_after -->
	</div>

<!-- EVENT overall_footer_page_body_after -->

<div id="page-footer">
	<!-- INCLUDE navbar_footer.html -->

	<div class="copyright">
		<!-- EVENT overall_footer_copyright_prepend -->
		{CREDIT_LINE}
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- EVENT overall_footer_copyright_append -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>

	<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken">&nbsp;</div>
	</div>
	<div id="loading_indicator"></div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close"></a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close"></a>
		<div class="alert_text"></div>
	</div>
</div>

</div>

<div>
	<a id="bottom" class="anchor" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script>window.jQuery || document.write(unescape('%3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}" type="text/javascript"%3E%3C/script%3E'));</script><!-- ENDIF -->
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<!-- INCLUDEJS jquery.collapse.js -->
<!-- INCLUDEJS jquery.collapse_storage.js -->

<script>
jQuery(function($) {
	'use strict';

	$('.stat-block.online-list').attr('id', 'online-list');
	$('.stat-block.birthday-list').attr('id', 'birthday-list');
	$('.stat-block.statistics').attr('id', 'statistics');

	$('.collapse-box > h2, .stat-block > h3').addClass("open").find('a').contents().unwrap();

	$('.collapse-box, .stat-block').collapse({
		persist: true,
		open: function() {
			this.stop(true,true);
			this.addClass("open");
			this.slideDown(400);
		},
		close: function() {
			this.stop(true,true);
			this.slideUp(400);
			this.removeClass("open");
		}
	});

	var $videoBG = $('#video-background');
	var hasTopBar = $('#top-bar').length;

	function resizeVideoBG() {
		var height = $(window).height();
		$videoBG.css('height', (height - 42) + 'px');
	}

	if (hasTopBar && $videoBG.length) {
		$(window).resize(function() {
			resizeVideoBG()
		});
		resizeVideoBG();
	}

	<!-- IF S_VIEWTOPIC -->
	phpbb.dropdownVisibleContainers += ', .profile-context';

	$('.postprofile').each(function() {
		var $this = $(this),
			$trigger = $this.find('dt a'),
			$contents = $this.siblings('.profile-context').children('.dropdown'),
			options = {
				direction: 'auto',
				verticalDirection: 'auto'
			},
			data;

		if (!$trigger.length) {
			data = $this.attr('data-dropdown-trigger');
			$trigger = data ? $this.children(data) : $this.children('a:first');
		}

		if (!$contents.length) {
			data = $this.attr('data-dropdown-contents');
			$contents = data ? $this.children(data) : $this.children('div:first');
		}

		if (!$trigger.length || !$contents.length) return;

		if ($this.hasClass('dropdown-up')) options.verticalDirection = 'up';
		if ($this.hasClass('dropdown-down')) options.verticalDirection = 'down';
		if ($this.hasClass('dropdown-left')) options.direction = 'left';
		if ($this.hasClass('dropdown-right')) options.direction = 'right';

		phpbb.registerDropdown($trigger, $contents, options);
	});
	<!-- ENDIF -->
});
</script>

<!-- IF S_VIDEOBG and (S_INDEX or S_VIDEOBG_ALL) and not S_IS_BOT  --><!-- INCLUDE videobg.html --><!-- ENDIF -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

</body>
<script type='text/javascript'>
window.__lo_site_id = 90622;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>
</html>
