/* CSS DOCUMENT - COPYRIGHT JESPER PEDERSEN */ 
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #222;
}
header h1 {
	text-align: center;
}
#wrapper {
	width: 995px;
	margin: auto;
}
header {
	padding: 15px 0 50px;
	text-align: center;
}
header img {
	width: 180px;
}
nav {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b1b1c+0,0b0b0c+100 */
background: #1b1b1c; /* Old browsers */
background: -moz-linear-gradient(top,  #1b1b1c 0%, #0b0b0c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b1b1c), color-stop(100%,#0b0b0c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1b1b1c 0%,#0b0b0c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1b1b1c 0%,#0b0b0c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1b1b1c 0%,#0b0b0c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1b1b1c 0%,#0b0b0c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1c', endColorstr='#0b0b0c',GradientType=0 ); /* IE6-9 */

	height: 65px;
	border-top: 1px solid #414142;
}
nav ul {
	list-style: none;
}
nav ul a {
	float: left;
	color: #FFF;
	width: 150px;
	text-align: center;
	border-right: 1px solid #414142;
	height: 65px;
	line-height: 75px;
	padding: 0 15px;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	position: relative;
}
nav ul a.aeren:before {	
	content:"";
	width: 67px;
	height: 67px;
	display: block;
	position: absolute;
    left: 30%;
    top: -36px;
    background: url("images/aeren-small-icon.png") center center;
    border: none !important;
}
nav ul a:before {
	content:"";
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	background: url("images/question.jpg") center center;
	background-size: 45px;
	background-repeat: no-repeat;
	border-radius: 50%;
    left: 38%;
    top: -21px;
    border: 2px solid #CCC;
}
nav ul a.active {
	border-bottom: 3px solid #912227;
}
nav ul li:last-of-type {
	border: none;
}
main {
	min-height: 800px;
	background: url("images/aeren-top.jpg") #121212;
	background-repeat: no-repeat;
	background-position: 3px 0;
	box-shadow: 0px 0px 40px #000;
	font-family: 'Open Sans', sans-serif;
}
footer {
	height: 100px;
}
header, nav, main, footer {
	float: left;
	width: 100%;
}
#title-section {
	height: 145px;
	float: left;
	width: 100%;
	padding: 45px;

}
#text-wrapper-outer {
	float: left;
	width: 100%;
}
#text-wrapper {
	margin: 40px auto 0;
}
#title-section h1 {
	font: normal 50px/55px Palatino Linotype, Serif;
	color: #FFF;
}
#title-section .story-type {
	font-size: 14px;
	font-family: "Helvetica";
	color: #ab9a30;
	opacity: 0.2;
}
#title-section h2 {
	font: italic 26px Palatino Linotype, Serif;
	    letter-spacing: -0.1px;
	    color: #912127;
	    text-shadow: 8px 4px 10px #000;
}
#text-top {
    height: 161px;
    background-position: center;
    background-color: #1e1e1e;
}
#text-content {
	margin-top: 20px;
    line-height: 28px;
    font-size: 13px;
    margin: 0 auto;
    width: 901px;
    color: #CCC;
    background-position: center;
    background-color: #1e1e1e;
    padding: 100px;
    box-sizing: border-box;
    		border: 1px solid #CCC;
        background: url("/styles/pbwow3/theme/images/border-bot-left.gif") no-repeat 0 100%, url("/styles/pbwow3/theme/images/border-bot-right.gif") no-repeat 100% 100%, url("/styles/pbwow3/theme/images/border-top-right.gif") no-repeat 100% 0, url("./styles/pbwow3/theme/images/border-top-left.gif") no-repeat 0 0, url("/styles/pbwow3/theme/images/border-bot.gif") repeat-x 0 100%, url("/styles/pbwow3/theme/images/border-top.gif") repeat-x 0 0, url("/styles/pbwow3/theme/images/border-right.gif") repeat-y 100% 0, url("/styles/pbwow3/theme/images/border-left.gif") repeat-y 0 0, rgba(0, 0, 0, 0.8);
}
#text-content p { 
	margin-bottom: 15px;
	font-style: italic;
	text-indent: 20px;
	font-size: 13px;
 }
 #text-content p:first-of-type {
 	text-indent: 50px;
 }
#text-bottom {
    height: 50px;
    background-position: center;	
}
footer p {
	float: right;
	color: #FFF;
	opacity: 0.3;
	margin-top: 20px;
	font-family: "Helvetica";
}
#gif-container {
	width: 285px;
	height: 410px;
	float: left;
}
#gif-container img {
    width: 1105px;
    margin-left: -420px;
    margin-top: -185px;
}
h3 {
	text-align: center;
}
.pagination {
	width: 300px;
	margin: auto;
}
.pagination ul {
	list-style: none;
	margin: auto;
	width: 65px;
	height: 30px;
}
.pagination ul li {
	float: left;
	background-color: #FFF;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	margin-right: 15px;
	border: 1px solid #CCC;
}
.pagination ul li:last-of-type {
	margin-right: 0;
}
.pagination ul li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	text-indent: -9000px;
}
.gif-container.aerendragon img {
	margin-top: -465px;
    margin-left: -415px;
    margin-bottom: -85px;
}