﻿/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			PBWoW 3
	Based on style:		prosilver (the default phpBB 3.1.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		PayBas ( http://pbwow.com/ )
	--------------------------------------------------------------
*/


/* Header & main body
--------------------------------------------- */

html {
    font-size: 62.5%;
    background-color: transparent;
    height: auto;
}

p.skiplink {
    display: none;
}

body {
    color: #CCCCCC;
    font-size: 10px;
    background: #111111 url("./images/theme/legion.jpg") no-repeat 49.999% 0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#wrap {
    border: none;
    border-radius: 0;
    margin: 0 auto;
    /*max-width: 990px; */
    max-width: 1176px;
    padding: 0;
}

#page-body {
    background: #000;
    background: url("./images/border-bot-left.gif") no-repeat 0 100%, url("./images/border-bot-right.gif") no-repeat 100% 100%, url("./images/border-top-right.gif") no-repeat 100% 0, url("./images/border-top-left.gif") no-repeat 0 0, url("./images/border-bot.gif") repeat-x 0 100%, url("./images/border-top.gif") repeat-x 0 0, url("./images/border-right.gif") repeat-y 100% 0, url("./images/border-left.gif") repeat-y 0 0, rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 20px 30px 38px;
    position: relative;
    padding-top: 80px;
}

#page-body:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -53px;
    padding-top: 53px;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.65);
    z-index: -1;
}

#page-body:after {
    clear: both;
    content: "";
    display: block;
}

.change-template {
    font-size: 18px;
    line-height: 1.6;
}

.headerbar {
    background: url("./images/forumliner-top.png") repeat-x 0 100%;
    border: none;
    border-radius: 0;
    margin: 0;
    min-height: 133px;
    padding: 0;
    position: relative;
}

#logo {
    display: block;
    width: 280px;
    height: 140px;
    padding: 0;
    line-height: 0;
    margin: 10px 10px 40px 10px;
    background-size: 100% 100%;
    background: none no-repeat;
}

#site-description {
    overflow: hidden;
}

#site-description h1,
#site-description p {
    display: none;
}


/* Common
--------------------------------------------- */

.panel {
    background: #111;
    background: rgba(20, 20, 20, 0.75);
    border: 1px solid #444;
    border-radius: 0;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
}

.forumbg {
    margin: 5px 1px;
    box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000, 0 2px 4px rgba(0, 0, 0, 0.6);
    border: 2px solid #1B1B1B;
    border-radius: 0;
    background: #313131;
    padding: 4px;
}

.forumbg>.inner {
    box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #111;
    border: 1px solid #575757;
    background: #000;
    padding: 3px;
}

.forumbg-table>.inner {
    margin: 0;
}

.bg1 {
    background: rgba(49, 49, 49, 0.75);
}

.bg2 {
    background: rgba(27, 27, 27, 0.75);
}

#simple-wrap {
    padding: 0 0 10px;
}


/* Links, arrows & text
--------------------------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrizQuadrata';
    src: url('../../../fonts/FrizQuadrataFont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/FrizQuadrataFont.woff') format('woff'), url('../../../fonts/FrizQuadrataFont.ttf') format('truetype'), url('../../../fonts/FrizQuadrataFont.svg#FrizQuadrataFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Episode1';
    src: url('../../../fonts/EPISODEI.eot?#iefix') format('embedded-opentype'), url('../../../fonts/EPISODEI.woff') format('woff'), url('../../../fonts/EPISODEI.ttf') format('truetype'), url('../../../fonts/EPISODEI.svg#FrizQuadrataFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans');
a {
    color: #c3914f;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #00C0FF;
}

a.up,
a.down,
a.left,
a.right,
a.top,
a.top2,
a.arrow-up,
a.arrow-down,
a.arrow-left,
a.arrow-right {
    text-indent: 0;
}

a.up:hover,
a.down:hover,
a.left:hover,
a.right:hover,
a.top:hover,
a.top2:hover,
a.arrow-up:hover,
a.arrow-down:hover,
a.arrow-left:hover,
a.arrow-right:hover {
    text-shadow: 0 0 2px #009CFF;
    text-decoration: none;
}

a.up:before,
a.down:after,
a.left:before,
a.right:after,
a.top:before,
a.top2:before,
a.arrow-up:before,
a.arrow-down:after,
a.arrow-left:before,
a.arrow-right:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    line-height: 0;
    text-decoration: none;
    padding-right: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .collapse-box h2 {
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body .collapse-box h2 a {
    font-family: "Encode Sans";
    font-weight: normal;
    font-size: 20px;
    color: #B1B1B1;
    text-rendering: optimizeLegibility;
}

a.up:before,
a.arrow-up:before {
    content: "\f077";
}

a.down:after,
a.arrow-down:after {
    content: "\f078";
    padding-right: 0;
    padding-left: 3px;
}

a.left:before,
a.arrow-left:before {
    content: "\f053";
}

a.right:after,
a.arrow-right:after {
    content: "\f054";
    padding-right: 0;
    padding-left: 3px;
}

a.top:before {
    content: "\f077";
}

a.top2:before {
    content: "\f077";
}

a.top2 {
    font-size: 10px;
    padding-left: 0;
}

a.arrow-up,
a.arrow-down,
a.arrow-left,
a.arrow-right {
    padding: 0 3px !important;
}

a.arrow-up:before,
a.arrow-down:after,
a.arrow-left:before,
a.arrow-right:after {
    font-size: 0.7em;
    vertical-align: middle;
}

.forumbg .header a,
.forabg .header a,
th a {
    color: #FFFFFF;
}

.forumbg .header a:active,
.forabg .header a:active,
th a:active {
    color: #00C0FF;
}


/* Post body links */

.postlink {
    border-bottom: 1px dotted #FFB019;
}

.postlink:hover {
    border-bottom-color: #00C0FF;
    background: none;
    text-decoration: none;
}

.postlink:active {
    border-bottom-color: #FFF;
}


/* Profile links */

.postprofile a:hover,
.postprofile dt.author a:hover,
.search .postprofile a:hover {
    text-decoration: none;
}


/* Headings */

h1 {
    margin-top: 100px;
    color: #000;
}

h2 {
    color: #F3E6D0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: -0.05em;
    margin-top: 0.5em;
}

h2 a {
    color: #F3E6D0;
}

h2 a:hover {
    color: #FFF;
    text-decoration: none;
}

h2 a:active {
    color: #00C0FF;
}

h2.solo {
    margin-bottom: 0.5em;
}

h3 {
    border-bottom: 1px solid #444;
    color: #888;
}

h3 a:hover {
    text-decoration: none;
}

.pm .postbody h3.first {
    color: #FFB019;
    font-size: 1.6em;
}

hr {
    border-color: #7C7C7C;
    border-top-color: #444;
}


/* Header box
--------------------------------------------- */

.navblock {
    background: #111;
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid #363636;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, 1), 0 0 5px 2px rgba(0, 0, 0, 0.85);
    color: #888;
    padding: 1px 2px;
    position: absolute;
    right: 0;
    top: 0;
}

.navblock>.inner {
    border-radius: 0 0 6px 6px;
    border: 1px solid #1a1a1a;
    border-top: none;
    padding: 10px;
}

.navblock .linklist {
    padding: 2px 0;
}

.navblock .linklist>li {
    height: 24px;
}


/* Breadcrumbs & Navlinks
--------------------------------------------- */

#body-header {
    background: url("./images/grey-bar-wide.gif") repeat-x;
    background-size: auto 100%;
    min-height: 35px;
    position: relative;
}

#body-header:before,
#body-header:after {
    content: '';
    display: block;
    position: absolute;
    top: -21px;
    width: 22px;
    height: 121px;
    z-index: 1;
}

#body-header:before {
    left: 0;
    background: url("./images/forumliner-fix-left1.gif") no-repeat;
}

#body-header:after {
    right: 0;
    background: url("./images/forumliner-fix-right2.gif") no-repeat;
}

#body-header.no-search:before {
    background-image: url("./images/forumliner-fix-left2.gif");
}

#body-header ul.linklist {
    border: none;
    padding: 0 25px;
}

#body-header ul.linklist>li {
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}

#body-header li.breadcrumbs {
    padding: 0 0 0 15px;
}

#body-header li.breadcrumbs:before,
#page-footer li.breadcrumbs:before {
    content: '\f015';
    display: block;
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 0;
    top: 0;
    color: #888;
    text-shadow: 0 0 2px #000;
}

#body-header .crumb a {
    padding: 0 3px;
    position: relative;
    text-decoration: none;
}

#body-header .crumb a:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 7px;
    border-bottom: 1px dotted #8C6407;
}

#body-header .crumb a:hover:before {
    border-bottom-color: #FFF;
}

.breadcrumbs .crumb:before {
    content: '\f054';
    color: #7C7C7C;
    font-family: FontAwesome;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0 0.5em;
    line-height: normal;
}

.breadcrumbs.locked .crumb:last-child:after {
    content: '\f023';
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
    position: absolute;
    padding-left: 3px;
}


/* Index & forum lists
--------------------------------------------- */

.index-left {
    width: 100%;
    margin-right: 0;
    overflow: hidden;
}

.index-right {
    float: right;
    width: 100%;
}

.forabg {
    border-radius: 0;
}

.forum-blocks {
    padding: 0;
}

.forum-blocks ul.forums {
    display: block;
    list-style: none;
}

.forum-blocks li.row {
    float: left;
    display: block;
    width: 33.3%;
    background: none;
    border: none;
}

.forum-blocks li.row:hover {
    background: none;
}

.index-left .forum-blocks li.row {
    width: 50%;
}

.forum-blocks dl.icon {
    display: block;
    position: relative;
    min-height: 110px;
    margin: 2px;
    padding: 10px 8px;
    background: #141414;
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid #444;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    overflow: inherit;
    -webkit-transition: border 0.20s ease-in-out 0s;
    transition: border 0.20s ease-in-out 0s;
}


/* Forums list contents */

.forum-blocks dt {
    margin: 0;
    padding: 0;
    width: auto;
}

.forum-blocks dt:after {
    clear: both;
    content: "";
    display: block;
}

.forum-blocks dl.icon .list-inner {
    margin: 0 0 8px 47px;
    padding: 0;
    color: #A0A0A0;
    font-size: 10px;
    line-height: 14px;
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.forum-blocks dl.icon .forum-image {
    text-align: center;
}

.forum-blocks dl.icon a.icon-link {
    margin: 0;
    left: 10px;
    top: 15px;
    height: 35px;
    width: 35px;
}

.forum-blocks a.forumtitle {
    padding-top: 5px;
    font-family: 'FrizQuadrata', Gotham, Helvetica, sans-serif;
    font-family: 'Encode Sans', "Helvetica Neue", sans-serif;
    display: block;
    padding-bottom: 4px;
    font-weight: normal;
    font-size: 1.7em;
}

.forum-blocks a.forumtitle:hover {
    text-decoration: none;
}

.forum-blocks .forum_link a.forumtitle:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 5px;
}

.forum-blocks ul.forums dd {
    min-height: 0;
    padding: 3px 4px;
}

.forum-blocks dd.forum-stats,
.forum-blocks dd.redirect,
.forum-blocks dd.mcp-status,
#recent-topics dd.lastpost {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #4A4A4A;
    width: auto;
    line-height: normal;
}

.forum-blocks dd.mcp-status {
    bottom: auto;
    top: 0;
}


/* Hover states */

.forum-blocks dl:hover {
    border-color: #00C0FF;
}

.forum-blocks dl:hover .list-inner {
    color: #FFF;
}


/* Other blocks */

.misc-block,
.stat-block p {
    position: relative;
    margin-bottom: 4px;
    padding: 10px;
    background: #141414;
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid #444;
    border-radius: 0;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}

.stat-block p {
    margin: 2px 2px 8px;
}

.stat-block p:after {
    clear: both;
    content: '';
    display: block;
}

.stat-block .online-pagelink {
    position: absolute;
    right: 3px;
    bottom: 3px;
}


/* Topic lists
--------------------------------------------- */

li.row,
.panel-container .panel li.row {
    border-width: 1px;
    border-style: solid;
    border-color: #000 transparent #161616 transparent;
    -webkit-transition: background 0.15s ease-in-out 0s;
    transition: background 0.15s ease-in-out 0s;
}

li.row:hover,
.panel-container .panel li.row:hover {
    background-color: #1E1E1E;
    background-color: rgba(30, 30, 30, 0.8);
}

.panel-container li.header {
    color: #FFF;
}

li.row strong {
    color: #FFF;
}

li.row.bg1,
.panel-container .panel li.row.bg1 {
    background: #252525;
    background: #252525 -webkit-linear-gradient(top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    background: #252525 linear-gradient(to bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    border-color: #252525 #000 #000 #252525;
}

li.row.bg1:hover,
.panel-container .panel li.row.bg1:hover {
    background: #252525;
    background: #252525 -webkit-linear-gradient(bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    background: #252525 linear-gradient(to top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    color: #FFF;
}

li.row.bg2,
.panel-container .panel li.row.bg2 {
    background: #161616;
    background: #161616 -webkit-linear-gradient(top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    background: #161616 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #161616 #000 #000 #161616;
}

li.row.bg2:hover,
.panel-container .panel li.row.bg2:hover {
    background: #161616;
    background: #161616 -webkit-linear-gradient(bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    background: #161616 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    color: #FFF;
}

li.row.bg3,

/* unread notifications */

.panel-container .panel li.row.bg3 {
    background: #333;
    background: #333 -webkit-linear-gradient(top, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    background: #333 linear-gradient(to bottom, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    border-color: #333 #000 #000 #333;
}

li.row.bg3:hover .panel-container .panel li.row.bg3:hover {
    background: #333;
    background: #333 -webkit-linear-gradient(bottom, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    background: #333 linear-gradient(to top, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    color: #FFF;
}

li.row.reported,
li.row.reported:hover,
.panel-container .panel li.row.reported,
.panel-container .panel li.row.reported:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 17, 17, 1) 0, rgba(255, 17, 17, 0.3) 2%, rgba(255, 0, 100, 0) 25%, rgba(255, 0, 100, 0) 75%, rgba(255, 17, 17, 0.3) 98%, rgba(255, 17, 17, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 17, 17, 1) 0, rgba(255, 17, 17, 0.3) 2%, rgba(255, 0, 100, 0) 25%, rgba(255, 0, 100, 0) 75%, rgba(255, 17, 17, 0.3) 98%, rgba(255, 17, 17, 1) 100%);
}

li.row.reported:hover,
.panel-container .panel li.row.reported:hover {
    background-color: rgba(255, 17, 17, 0.3);
}

ul.topiclist dl {
    font-size: 10px;
}

ul.topiclist dt,
dd.lastpost,
dd.redirect,
dd.moderation,
dd.time,
dd.info,
dd.extra {
    font-size: 10px;
}

ul.topiclist li.row .list-inner {
    padding-top: 3px;
    padding-bottom: 3px;
}

ul.topiclist dd {
    border: none;
}

ul.topiclist a.topictitle {
    font-size: 13px;
}

li.header dt,
li.header dd {
    overflow: hidden;
    text-overflow: ellipsis;
}

li.header dl.icon dt {
    text-indent: 5px;
}

dl.icon {
    background-position: 8px 50%;
    position: relative;
}


/* Tables
--------------------------------------------- */

.panel-container table.table1 {
    box-shadow: 0 0 5px #000;
}

table.table1 thead tr {
    background: #101010;
    border: 1px solid #252525;
}

table.table1 thead th {
    padding: 4px 0 5px 3px;
}

.panel-container table.table1 thead th {
    border: none;
    color: #FFF;
}

table.table1 tbody th {
    background: #101010;
    border-bottom: 1px solid #000000;
    color: #CCC;
    padding: 5px;
    text-align: left;
}

table.table1 tbody tr {
    border-width: 1px 1px 0;
    border-color: #161616;
}

table.table1 tbody tr.bg1,
table.zebra-list tbody tr:nth-child(even) {
    background: #252525;
    background: #252525 -webkit-linear-gradient(top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    background: #252525 linear-gradient(to bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    border-color: #252525;
}

table.table1 tbody tr.bg2,
table.zebra-list tbody tr:nth-child(odd) {
    background: #161616;
    background: #161616 -webkit-linear-gradient(top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    background: #161616 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #161616;
}

table.table1 tbody tr.bg3 {
    background: #101010;
    background: #101010 -webkit-linear-gradient(top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    background: #101010 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #101010;
}

table.table1 tbody tr.bg1:hover,
table.table1 tbody tr.bg1.hover,
table.zebra-list tbody tr:nth-child(even):hover {
    background: #252525 -webkit-linear-gradient(bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    background: #252525 linear-gradient(to top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
}

table.table1 tbody tr.bg2:hover,
table.table1 tbody tr.bg2.hover,
table.zebra-list tbody tr:nth-child(odd):hover {
    background: #161616 -webkit-linear-gradient(bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    background: #161616 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
}

table.table1 tbody tr.bg3:hover,
table.table1 tbody tr.bg3.hover {
    background: #101010 -webkit-linear-gradient(bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    background: #101010 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
}

table.table1 tbody td {
    border: none;
}

table.table1 tbody tr:hover td,
table.table1 tbody tr.hover td {
    color: #FFF;
}


/* Specific column styles */

table.table1 tbody .big-column td {
    color: #FFF;
    font-style: italic;
    text-indent: 0.6em;
}

table.info tbody th {
    color: #FFF;
}


/* Post styling
--------------------------------------------- */

.post {
    margin: 0 1px 4px;
    box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000, 0 2px 4px rgba(0, 0, 0, 0.6);
    border: 2px solid #1B1B1B;
    border-radius: 0;
    background: #313131;
    padding: 3px;
}

.post>.inner {
    background: #1B1B1B;
    border: 1px solid #000;
    padding: 2px;
}

.post.bg1>.inner {
    background-color: #313131;
    background: -webkit-linear-gradient(top, rgba(23, 23, 23, 1) 0, rgba(49, 49, 49, 0) 82px), -webkit-linear-gradient(bottom, rgba(26, 26, 26, 1) 0, rgba(49, 49, 49, 0) 46px), #313131;
    background: linear-gradient(to bottom, rgba(23, 23, 23, 1) 0, rgba(49, 49, 49, 0) 82px), linear-gradient(to top, rgba(26, 26, 26, 1) 0, rgba(49, 49, 49, 0) 46px), #313131;
}

.post.bg2>.inner {
    background-color: #1B1B1B;
    background: -webkit-linear-gradient(top, rgba(14, 14, 14, 1) 0, rgba(27, 27, 27, 0) 82px), -webkit-linear-gradient(bottom, rgba(14, 14, 14, 1) 0, rgba(27, 27, 27, 0) 38px), #1B1B1B;
    background: linear-gradient(to bottom, rgba(14, 14, 14, 1) 0, rgba(27, 27, 27, 0) 82px), linear-gradient(to top, rgba(14, 14, 14, 1) 0, rgba(27, 27, 27, 0) 38px), #1B1B1B;
}

.post.reported {
    background-color: #500C0C;
}

.post.deleted {
    /* @TODO */
}

.post.unread {
    /* @TODO */
}

.post.warned {
    background-color: #50420C;
}

.postbody {
    color: #CCC;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    line-height: 18px;
    width: 76.5%;
}

.has-profile .postbody {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;
}

.post .postbody .content,
#cp-main .post .content,
#cp-main .pm .content {
    text-align: justify;
    border-top: solid 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background: url("./images/postbody-top-left.png") 0 0 no-repeat;
}

.postbody .ignore {
    padding: 5px 10px;
}


/* Post profiles
--------------------------------------------- */

.postprofile {
    background: none no-repeat 0 0;
    position: relative;
    margin: 0;
    padding: 5px;
    min-height: 165px;
    border: none;
    box-sizing: border-box;
    width: 18.5%;
    float: left;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.postprofile dt {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.postprofile .avatar-container {
    min-height: 92px;
    position: relative;
}

.no-avatar .avatar-container {
    background: url("./images/no_avatar.gif") 50% 2px no-repeat;
}

.postprofile .avatar {
    background: #000 url("./images/portrait-frame-clean.gif") no-repeat 50% 50%;
    display: inline-block;
    float: none;
    margin: 2px auto 0;
    position: relative;
}

.postprofile .avatar img {
    width: 85px;
}

.online .postprofile dt strong:before,
.online .postprofile dt strong:after,
.online .postprofile dt a:not(.avatar):before,
.online .postprofile dt a:not(.avatar):after {
    color: #5CFF00;
    content: "«";
    font-size: 1em;
    font-weight: normal;
    margin-right: 4px;
    text-shadow: 0 0 3px #5DF644;
}

.online .postprofile dt strong:after,
.online .postprofile dt a:not(.avatar):after {
    content: "»";
    margin-left: 4px;
    margin-right: auto;
}

.postprofile dt,
.postprofile dd {
    margin-left: 0;
}

.postprofile dd {
    margin: 8px 0;
    font-size: 0.9em;
}

.postprofile dd:last-child {
    margin-bottom: 0;
}

.postprofile strong {
    color: #DDD;
}


/* Gaming assets
--------------------------------------------- */

.postprofile .icons-frame {
    background: url("./images/portrait-icons.png") no-repeat;
    display: block;
    height: 83px;
    width: 35px;
    position: absolute;
    top: 1px;
    left: 50%;
    -webkit-transform: translateX(-74px);
    transform: translateX(-74px);
}

.postprofile .icons-frame div {
    height: 18px;
    width: 18px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000;
    border-radius: 3px;
}

.postprofile .icons-frame>div {
    position: absolute;
}

.postprofile .game-icon-a {
    top: 11px;
    left: 11px;
}

.postprofile .game-icon-b {
    top: 31px;
    left: 11px;
}

.postprofile .game-icon-c {
    top: 51px;
    left: 11px;
}

.postprofile .rank-icon {
    background: url("./images/rank-bg.png") no-repeat 100% 100%;
    height: 33px;
    width: 33px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 7px;
    left: 50%;
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
}

.postprofile .rank-icon span {
    font-weight: bold;
    vertical-align: middle;
    font-size: 9px;
}

.postprofile .rank-icon img {
    margin-top: 1px;
    vertical-align: middle;
}


/* Polls
--------------------------------------------- */

.topic_poll .panel {
    margin: 0 1px 4px;
    box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000, 0 2px 4px rgba(0, 0, 0, 0.6);
    border: 2px solid #1B1B1B;
    border-radius: 0;
    background: #313131;
    padding: 3px;
}

.topic_poll .content {
    background: #1B1B1B;
    background: url("./images/poll-left.gif") 0 0 no-repeat, url("./images/poll-right.gif") 100% 0 no-repeat, url("./images/poll-bg.jpg") 0 0 repeat-x, -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0) 40px), #1B1B1B;
    background: url("./images/poll-left.gif") 0 0 no-repeat, url("./images/poll-right.gif") 100% 0 no-repeat, url("./images/poll-bg.jpg") 0 0 repeat-x, linear-gradient(to top, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0) 40px), #1B1B1B;
    border: 1px solid #000;
    padding: 0 20px;
    position: relative;
}

.topic_poll h2 {
    color: #00C0FF;
    font: italic 20px Georgia, "Times New Roman", Times, serif;
    border-bottom: none !important;
    padding-top: 0.5em;
}

.topic_poll h2 span {
    color: #FFFFFF;
    font: bold 18px Arial, Helvetica, sans-serif;
    padding: 7px 5px 7px 25px;
}

.topic_poll h2 span.poll-icon-timer {
    background: url("./images/icons/poll-end.gif") no-repeat 0 50%;
}

.topic_poll h2 span.poll-icon-open {
    background: url("./images/icons/poll-open.gif") no-repeat 0 50%;
}

.topic_poll h2 span.poll-icon-closed {
    background: url("./images/icons/poll-private.gif") no-repeat 0 50%;
}

.topic_poll p.author {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;
    padding: 8px 14px;
    box-shadow: 0 0 0 1px #000, 0 0 4px 2px rgba(0, 0, 0, 0.9), inset 0 0 6px 6px rgba(0, 0, 0, 1);
    background: #0A0A0A;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 6px 6px;
    border: 1px solid #363636;
    border-top: none;
    line-height: 1.5em;
}

.topic_poll p.author strong {
    color: #FFF;
}

.topic_poll .polls {
    position: relative;
    box-shadow: 0 0 0 1px #000, 0 0 4px 2px rgba(0, 0, 0, 0.9), inset 0 0 0 1px #111, inset 0 0 6px 6px rgba(0, 0, 0, 1);
    background: #0A0A0A;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    border: 1px solid #363636;
    margin: 10px 10px 36px;
    padding: 15px;
}


/*.topic_poll .polls .inner {
	margin: 1px 2px;
	border: 1px solid #1a1a1a;
}*/

fieldset.polls dl {
    border: none;
    color: #CCC;
    line-height: 16px;
}

fieldset.polls dt,
fieldset.polls dd {
    box-sizing: border-box;
}

fieldset.polls dt {
    text-align: right;
}

fieldset.polls dd {
    text-shadow: 0 0 2px #000;
}

fieldset.polls dd.resultbar div {
    background: url("./images/poll_bars1.gif") 100% -19px no-repeat;
    border: none;
    position: relative;
}

fieldset.polls dd.resultbar div:before {
    background: url("./images/poll_bars1.gif") 0 -19px no-repeat;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
}

fieldset.polls dl.most-votes dd.resultbar div {
    background-position: 100% -1px;
}

fieldset.polls dl.most-votes dd.resultbar div:before {
    background-position: 0 -1px;
}

fieldset.polls dl.voted {
    color: #FFF;
}

.poll_total_votes {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.topic_poll .poll-footer {
    background: url("./images/poll-bot.gif") 50% 0 no-repeat;
    height: 74px;
    margin: 10px 0 -51px;
    padding: 13px 0 13px 2px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.topic_poll .poll-footer .button1 {
    display: inline-block;
    vertical-align: top;
    width: 120px !important;
    height: 25px;
    line-height: 25px;
    margin: 0 1px;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vote-submitted {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
}


/* Sort & Display options
@ TODO: this is temporary
--------------------------------------------- */

.dropdown fieldset.display-options {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.dropdown fieldset.display-options label {
    display: block;
    margin: 4px;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

.dropdown fieldset.display-options select {
    min-width: 120px;
}


/* Search
--------------------------------------------- */

.search .postbody {
    width: 76.5%;
}

.search .postprofile {
    background: none !important;
    width: 23.5%;
    padding: 5px;
    min-height: inherit;
}

.search .postprofile dt {
    background: none !important;
    min-height: inherit;
    padding-top: 0;
}

body.section-search p:not(.jumpbox-return) a.arrow-left,
body.section-search p:not(.jumpbox-return) a.arrow-right {
    display: none;
}


/* Content container styles
--------------------------------------------- */

.content h2,
.panel h2 {
    color: #00C0FF;
    border-bottom: 1px solid #666;
}

.postbody h3 {
    font-size: 1.2em;
}

.postbody h3.first {
    font-size: 1.3em;
}

.post:target h3 a {
    color: #FFF;
}

.post:target .content {
    color: #DDD;
}

.post .postbody h3,
.post p.author {
    margin-left: 10px !important;
    /* TODO check */
}

blockquote {
    background-color: rgba(10, 10, 10, 0.2);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
    border-color: #575757;
    color: #CCCCCC;
    padding: 6px 10px 10px 10px;
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

blockquote:before,
blockquote:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    position: absolute;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

blockquote:before {
    content: "\f10d";
    left: 3px;
    top: 2px;
}

blockquote:after {
    content: "\f10e";
    right: 3px;
    bottom: 2px;
}

.signature,
.notice {
    border-top-color: #555;
    padding: 5px;
    box-sizing: border-box;
}

.attachbox {
    background-color: rgba(10, 10, 10, 0.3);
    border-color: #7C7C7C;
    margin: 10px;
}

.attachbox dd {
    border-top-color: #575757;
}

.attachbox p {
    /*color: #999;*/
}

.attachbox p.stats {
    /*color: #999;*/
}

.pm-message .attachbox {
    background-color: #333;
}

.attach-image img {
    border-color: #444;
}

.inline-attachment {
    /* TODO */
}

dl.file dd {
    color: #999;
}

dl.details dt {
    color: #DDD;
}

dl.details dd {
    color: #AAA;
}

dl.faq dt {
    color: #FFF;
}

dl.thumbnail img,
.postbody a>img.postimage {
    background-color: rgba(0, 0, 0, 0.4);
    /*border: 1px solid #372511 !important;*/
    border: 1px solid #666 !important;
    /* !important for lightbox script */
    border-radius: 5px !important;
    /* !important for lightbox script */
    box-shadow: 0 0 6px #000000;
    padding: 0;
    -webkit-transition: border 0.25s ease-out 0s;
    transition: border 0.25s ease-out 0s;
}

dl.thumbnail dt a:hover,
.postbody a>img.postimage:hover {
    background-color: #222222;
}

dl.thumbnail dt a:hover img,
.postbody a>img.postimage:hover {
    border: 1px solid #CD9000 !important;
    /* !important for lightbox script */
}

.posthilit {
    background-color: #CCC;
    color: #000;
    text-shadow: none;
}


/* Code block */

.codebox {
    background-color: rgba(10, 10, 10, 0.3);
    border-color: #575757;
    text-shadow: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.codebox p {
    border-bottom-color: #575757;
}

.codebox code {
    color: #4A7;
    text-align: left;
    max-height: 400px;
}

.syntaxbg {
    color: #555;
}

.syntaxcomment {
    color: #F0C674;
}

.syntaxdefault {
    color: #81A2BE;
}

.syntaxhtml {
    color: #AAA;
}

.syntaxkeyword {
    color: #B5BD68;
}

.syntaxstring {
    color: #C66;
}

code.inline {
    background-color: rgba(10, 10, 10, 0.3);
    border: 1px solid rgba(88, 88, 88, 0.7);
    border-radius: 2px;
    color: #4A7;
    display: inline;
    font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.3em;
    padding: 0 3px;
}


/* Buttons
--------------------------------------------- */

.button {
    background-color: #222;
    background-image: -webkit-linear-gradient(top, #373737 0%, #111111 100%);
    background-image: linear-gradient(to bottom, #373737 0%, #111111 100%);
    border: 1px solid #5D5D5D;
    border-radius: 3px;
    color: #CCC;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: auto;
    line-height: 28px;
    padding: 0 12px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-sizing: border-box;
}

.dropdown-select {
    padding-right: 5px;
}

.button:hover,
.button:active,
.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
    background-color: #37dfff;
    background-image: -webkit-linear-gradient(top, #37dfff 0%, #1041e2 100%);
    background-image: linear-gradient(to bottom, #37dfff 0%, #1041e2 100%);
    border-color: #238eff;
    color: #FFF;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(255, 255, 255, 0.8);
}

.icon-button:before {
    background: none;
    content: none;
    height: auto;
    width: auto;
}

.icon-button:after,
.dropdown-select:before,
.dropdown-select:after {
    background: none;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 0 5px;
    right: auto;
    left: auto;
    top: auto;
    float: none;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    text-decoration: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-button.dropdown-select {
    font-size: 0;
    padding: 0 5px 0 8px;
}

.icon-button.dropdown-select:before {
    margin: 0 3px 0 1px;
    width: auto;
    height: auto;
}

.dropdown-select:after {
    border-color: #5D5D5D;
    content: "\f0d7";
    font-size: 12px;
    height: 100%;
    padding-left: 3px;
    text-align: center;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

.dropdown-select:hover:after,
.dropdown-visible .dropdown-select:after,
.nojs .dropdown-container:hover .dropdown-select:after {
    border-color: #238eff;
}

.post-icon:after,
.newpm-icon:after {
    content: '\f067';
}

.reply-icon:after,
.pmreply-icon:after {
    content: '\f112';
}

.locked-icon:after {
    content: '\f023';
}

.forwardpm-icon:after {
    content: '\f064';
}

.tools-icon:before {
    content: '\f0ad';
}

.sort-icon:before {
    content: '\f161';
}

.modtools-icon:before {
    content: '\f0e3';
}

.search-icon:after {
    content: '\f002';
    margin: 0 1px;
}

.search-adv-icon:after {
    content: '\f013';
    margin: 0 1px;
}


/* Forms
--------------------------------------------- */

select {
    background: #040d1a url("./images/icons/select.png") no-repeat 100% center;
    border-color: #7F7F7F;
    color: #CCC;
    -webkit-appearance: none;
    /* Removes default chrome and safari style */
    -moz-appearance: none;
    /* Removes Default Firefox style */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
        padding-right: 10px;
    }
}

.search-box .inputbox,
.search-box button.search-icon {
    height: auto;
    padding: 0 3px;
    margin: 0;
    box-sizing: border-box;
}

.search-box .inputbox {
    border-color: #5d5d5d;
    line-height: 28px;
    height: 30px;
}

.search-box button.search-icon,
.search-box a.button {
    padding: 0 7px;
}

option.disabled-option {
    color: #888;
}

input[type=checkbox][disabled] {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

label {
    color: #FFF;
}

dd label {
    color: #CCC;
}

fieldset dt {
    color: #888;
}

fieldset dl:hover dt label {
    color: #00C0FF;
}

fieldset.fields2 dl:hover dt label {
    color: #00C0FF;
}

fieldset.display-options.right-box {
    text-align: right;
}

fieldset.submit-buttons input {
    padding: 4px 6px;
}

#format-buttons {
    margin: 15px 0 5px 0;
}

#message-box textarea {
    color: #CCC;
}

.inputbox {
    background-color: #040D1A;
    border-color: #7F7F7F;
    color: #CCC;
}

.inputbox:hover {
    border-color: #11A3EA;
}

.inputbox:focus {
    border-color: #11A3EA;
    color: #FFF;
}

.inputbox:-moz-placeholder {
    color: #CCC;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.inputbox::-moz-placeholder {
    color: #CCC;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.inputbox::-webkit-input-placeholder {
    color: #CCC;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

input.search {
    background-image: none;
    padding: 2px;
}


/* Form buttons */

a.button1,
input.button1,
a.button2,
input.button2,
input.button3 {
    padding: 2px 3px;
    border: 1px solid #666;
    border-radius: 2px;
    background: #1A1A1A;
    background-image: -webkit-linear-gradient(bottom, #1a1a1a, #3a3a3a);
    background-image: linear-gradient(to top, #1a1a1a, #3a3a3a);
    box-shadow: inset 0 0 2px 1px #1a1a1a, 0 2px 5px 1px rgba(0, 0, 0, 0.5);
    min-width: 20px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
    color: #DDD;
}

a.button2,
input.button2,
input.button3 {
    border-color: #4A4A4A;
    background-color: #1a1a1a;
    background-image: -webkit-linear-gradient(bottom, #111, #333);
    background-image: linear-gradient(to top, #111, #333);
}

a.button1,
a.button1:active,
a.button2,
a.button2:active {
    text-decoration: none;
    color: #DDD;
    padding: 2px 8px;
    line-height: 250%;
    vertical-align: text-bottom;
}

a.button1:hover,
input.button1:hover,
a.button2:hover,
input.button2:hover,
input.button3:hover {
    border-color: #00C0FF;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.3);
    color: #FFF;
}

input.button1:active,
input.button2:active,
input.button3:active {
    background-image: -webkit-linear-gradient(top, #111, #222);
    background-image: linear-gradient(to bottom, #111, #222);
    box-shadow: inset 0 0 2px 1px #000, 0 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-color: #888;
    color: #CCC;
}

input.button1:focus,
input.button2:focus,
input.button3:focus {
    border-color: #00C0FF;
    color: #FFF;
}

input.disabled {
    font-weight: normal;
    color: #999;
}

.button1.disabled {
    background-color: #1A1A1A;
    background-image: -webkit-linear-gradient(top, #202020 0%, #111111 100%);
    background-image: linear-gradient(to bottom, #202020 0%, #111111 100%);
    border-color: #3f3f3f;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
    color: #777 !important;
    font-weight: normal;
}

#login .button1,
#quick-login-panel .button1 {
    padding: 5px 14px;
}


/* Browser-specific tweaks */

input.button1::-moz-focus-inner,
input.button2::-moz-focus-inner,
input.button3::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* Search box (header)
--------------------------------------------- */

.search-header {
    background: url("./images/forumliner-top-left.gif") no-repeat 0 0;
    border-radius: 0;
    position: absolute;
    float: none;
    height: 39px;
    width: 355px;
    bottom: 0;
    left: 12px;
    text-align: left;
    margin: 0;
}

.search-header:before {
    content: "";
    display: block;
    position: absolute;
    background: url("./en/forum-menu-quicksearch.gif") no-repeat 0 0;
    width: 85px;
    height: 17px;
    left: 6px;
    top: -6px;
}

.search-header a.button {
    background: url("./en/forum-menu-advanced-search.gif") no-repeat 0 0;
    border: none;
    height: 17px;
    width: 107px;
    padding: 0;
    position: absolute;
    left: 94px;
    top: -6px;
    font-size: 0;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

.search-header a.button:hover {
    background-position: 0 100%;
}

.search-header button.search-icon {
    background: url("./en/forum-menu-search.gif") no-repeat;
    height: 39px;
    width: 74px !important;
    /* TODO necessary !important? */
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 0;
    box-shadow: none;
}

.search-header button.search-icon:after,
.search-header a.button:after {
    display: none;
}

.search-header input {
    vertical-align: top;
}

.search-header .inputbox {
    margin: 11px 3px 0 12px;
    padding: 2px;
    width: 182px;
    height: 21px;
    line-height: 15px;
    background: #0D1A2D url("./images/forum-menu-search-tile.gif") repeat-x scroll 0 0;
    border: 1px solid #7F7F7F;
    border-radius: 2px;
}

.search-header .inputbox:focus {
    border: 1px solid #11A3EA;
}


/* CP common
--------------------------------------------- */

.panel-container .panel {
    background: #212121;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 46px);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 46px);
}

#cp-main .pm {
    background: #212121;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 46px);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 46px);
    border: 1px solid #444;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
    margin-right: 0;
}

ul.cplist {
    background: -webkit-linear-gradient(bottom, rgba(13, 13, 13, 1) 0, rgba(27, 27, 27, 0) 46px);
    background: linear-gradient(to top, rgba(13, 13, 13, 1) 0, rgba(27, 27, 27, 0) 46px);
    border: 1px solid #575757;
    box-shadow: 0 0 0 1px #000;
    padding: 3px;
    margin-bottom: 8px;
}

.cp-mini {
    background: #212121;
    background: rgba(33, 33, 33, 0.75);
    border: 1px solid #444;
    border-radius: 0;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
}

dl.mini dt {
    color: #888888;
}

.pmlist li.row {
    position: relative;
    padding: 0 0 0 4px;
}

.pmlist li.row:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 4px solid transparent;
}

.pmlist li.pm_message_reported_colour:before,
.pm_message_reported_colour {
    border-left-color: #BC2A4D;
}

.pmlist li.pm_marked_colour:before,
.pm_marked_colour {
    border-left-color: #FF6600;
}

.pmlist li.pm_replied_colour:before,
.pm_replied_colour {
    border-left-color: #A9B8C2;
}

.pmlist li.pm_friend_colour:before,
.pm_friend_colour {
    border-left-color: #5CFF00;
}

.pmlist li.pm_foe_colour:before,
.pm_foe_colour {
    border-left-color: #AA1111;
}

#gallery label {
    background-color: #161616;
    border: 1px solid #444;
    min-height: 102px;
}

#gallery label:hover {
    background-color: #040D1A;
    border-color: #00C0FF;
}

.panel-container hr,
#cp-menu hr {
    border-color: #444;
}


/* PM Message history */

.current {
    color: #FFF;
}


/* UCP/MCP Tabs
--------------------------------------------- */

#tabs .tab>a {
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    border: 1px solid #222;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    color: #999;
    margin: 2px 2px 0 0;
    padding: 6px 10px;
}

#tabs .tab>a:hover {
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    border-color: #555;
    color: #FFF;
}

#tabs .activetab>a {
    background: #111;
    background: rgba(20, 20, 20, 0.7);
    border-color: #444;
    border-bottom: 1px solid #0e0e0e;
    color: #FFF;
    margin-bottom: -1px;
    margin-top: 0;
    padding: 7px 10px;
}

#tabs .activetab>a:hover {
    color: #00C0FF;
    border-bottom-color: #0e0e0e;
}

#minitabs .tab>a {
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    border: 1px solid #222;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    margin: 2px 0 0 2px;
    padding: 6px 10px;
}

#minitabs .tab>a:hover {
    text-decoration: none;
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    border-color: #555;
}

#minitabs .activetab>a {
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7);
    border-color: #444;
    border-bottom: 1px solid #202020;
    color: #FFF;
    margin-bottom: -1px;
    margin-top: 0;
    padding: 7px 10px;
}

#minitabs .activetab>a:hover {
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7);
    color: #00C0FF;
    border-bottom-color: #202020;
}

.responsive-tab .responsive-tab-link:before {
    left: auto;
    border-color: #999999;
}


/* UCP navigation menu
--------------------------------------------- */

#navigation a {
    color: #999;
    background: #212121;
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(right, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100px);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to left, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100px);
    border: 1px solid #222;
    border-right: none;
}

.rtl #navigation a {
    /* Do it here instead of bidi.css, so it's easier to overrule by children) */
    background: rgba(40, 40, 40, 0.7) -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100px);
    background: rgba(40, 40, 40, 0.7) linear-gradient(to right, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100px);
}

#navigation a:hover {
    background: #212121;
    text-decoration: none;
    color: #00C0FF;
}

#navigation #active-subsection a {
    background: #212121;
    background-image: none;
    display: block;
    color: #FFF;
}

#navigation #active-subsection a:hover {
    color: #00C0FF;
}


/* Footer
--------------------------------------------- */

#page-footer {
    text-shadow: 1px 1px 1px #000;
}

#page-footer .navbar {
    border-radius: 0;
    padding: 0 15px;
}

.copyright {
    color: #555;
}


/* Pagination
--------------------------------------------- */

.action-bar {
    margin: 6px 3px;
}

.action-bar.top .pagination {
    margin-top: 5px;
}

.pagination li a {
    color: #CCC;
    background-color: #1A1A1A;
    border-color: #575757;
}

.pagination li a:hover,
.pagination .active a:hover,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0 0 5px 1px rgba(0, 192, 255, 0.7);
}

.pagination li.active span {
    color: #FFFFFF;
    background-color: #0D1A2D;
    border-color: #B28910;
}

.pagination li.active span:hover {
    background-color: #FFB019;
    border-color: #FFB019;
    color: #000;
    text-decoration: none;
    box-shadow: none;
}

.row .pagination {
    background: url("./images/icons/icon_pages.png") 0 50% no-repeat;
    font-size: 10px;
}

.pagination li.page-jump a,
.pagination li.next a,
.pagination li.previous a {
    padding-left: 4px;
    padding-right: 4px;
    width: auto;
}

.pagination li.page-jump a:after,
.pagination li.next a:after,
.pagination li.previous a:after {
    font-family: FontAwesome;
    font-size: 10px;
    font-weight: normal;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

.pagination li.page-jump a:after {
    content: '\f124';
    font-size: 12px;
}

.pagination li.next a:after {
    content: '\f054';
    padding-left: 1px;
}

.pagination li.previous a:after {
    content: '\f053';
    padding-right: 1px;
}


/* Quick-reply
--------------------------------------------- */

#qr_postform>.panel {
    background: url("./images/post-out-top.gif") 50% 0 no-repeat, url("./images/post-out-bot.gif") 50% 100% no-repeat, url("./images/post-out-sides.gif") 50% 8px repeat-y, url("./images/post-main-bg.jpg") 50% 6px no-repeat #1b1b1b;
    max-width: 757px;
    margin: -3px auto 10px;
    padding: 25px 30px;
    box-sizing: border-box;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
    border: none;
}

#qr_postform>.panel>.inner {
    max-width: 643px;
    margin: 0 auto;
}

#qr_postform #message-box {
    background: url("./images/post-message-box-bot.gif") 0 100% / 100% auto no-repeat, url("./images/post-message-box-top.gif") 0 0 / 100% auto no-repeat, url("./images/post-message-box-sides.gif") 0 0 / 100% auto repeat-y;
    /*padding: 15px 19px 27px 15px;*/
    padding: 15px 14px 27px 15px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
}

#qr_postform textarea {
    background: #0D1A2D;
    background: #0D1A2D -webkit-linear-gradient(top, rgba(8, 17, 38, 1) 0, rgba(13, 26, 45, 0) 32px);
    background: #0D1A2D linear-gradient(to bottom, rgba(8, 17, 38, 1) 0, rgba(13, 26, 45, 0) 32px);
    margin: 0;
    padding: 2px;
    border-radius: 5px;
    -webkit-transition: box-shadow 0.25s ease-in-out 0s;
    transition: box-shadow 0.25s ease-in-out 0s;
    box-sizing: border-box;
}

#qr_postform textarea:focus {
    box-shadow: 0 0 3px 1px #11A3EA;
}

#qr_postform fieldset.submit-buttons {
    background: url("./images/post-util-bot.gif") 0 100% / 100% auto no-repeat, url("./images/post-util-top.gif") 0 0 / 100% auto no-repeat, url("./images/post-util-sides.gif") 0 0 / 100% 100% repeat-y;
    position: relative;
    margin: 0;
    padding: 14px 10px;
    width: 100%;
    box-sizing: border-box;
}


/* Collapseable blocks
--------------------------------------------- */

.collapse-box h2,
.stat-block h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 10px 2px 0;
    padding: 0 0 0 8px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
    color: #888;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-transition: border-bottom 0.20s ease-in-out 0s;
    transition: border-bottom 0.20s ease-in-out 0s;
}

.collapse-box h2:hover,
.stat-block h3:hover {
    border-bottom-color: #CCC;
}

.collapse-box h2.open,
.stat-block h3.open {
    border-bottom-color: transparent;
}

.collapse-box h2 a,
.stat-block h3 a {
    display: block;
    -webkit-transition: color 0.20s ease-in-out 0s;
    transition: color 0.20s ease-in-out 0s;
    color: #888;
}

.collapse-box h2 a:hover,
.stat-block h3 a:hover {
    color: #FFF;
    text-decoration: none;
}

.collapse-box h2 a:active,
.stat-block h3 a:active {
    color: #00C0FF;
}

.collapse-box h2 a[href="#"]:before,
.stat-block h3 a[href="#"]:before {
    content: "\f196";
    display: inline-block;
    margin-right: 8px;
    font-family: FontAwesome;
    font-size: 0.9em;
    font-weight: normal;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.collapse-box h2.open a[href="#"]:before,
.stat-block h3.open a[href="#"]:before {
    content: "\f147";
}

.stat-block h3 {
    font-size: 16px;
    line-height: 24px;
}


/* Rules & Errors
--------------------------------------------- */

.error {
    color: #FF1111;
    font-weight: bold;
    font-size: 12px;
}

div.rules {
    background: #111;
    background: rgba(20, 20, 20, 0.7);
    border: solid 1px #AA1111;
    border-radius: 0;
    padding: 10px 10px 12px;
    color: #FFF;
    text-align: justify;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.6);
}

body.section-viewforum div.rules,
body.section-viewtopic div.rules {
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000, 0 2px 4px rgba(0, 0, 0, 0.6);
    border: 2px solid #1B1B1B;
    border-radius: 0;
    background: #313131;
    padding: 3px;
}

body.section-viewforum div.rules>.inner,
body.section-viewtopic div.rules>.inner {
    background-color: #313131;
    background: -webkit-linear-gradient(top, rgba(23, 23, 23, 1) 0, rgba(49, 49, 49, 0) 82px), -webkit-linear-gradient(bottom, rgba(26, 26, 26, 1) 0, rgba(49, 49, 49, 0) 46px), #313131;
    background: linear-gradient(to bottom, rgba(23, 23, 23, 1) 0, rgba(49, 49, 49, 0) 82px), linear-gradient(to top, rgba(26, 26, 26, 1) 0, rgba(49, 49, 49, 0) 46px), #313131;
    border: 1px solid #000;
    padding: 10px;
}

div.rules strong {
    display: block;
    background: #320000;
    background: -webkit-linear-gradient(top, rgba(40, 1, 1, 1) 0, rgba(60, 5, 5, 1) 25px);
    background: linear-gradient(to bottom, rgba(40, 1, 1, 1) 0, rgba(60, 5, 5, 1) 25px);
    border: 1px solid transparent;
    border-color: #600C0C #000 #000 #500C0C;
    padding: 6px;
    margin: -10px -10px -5px -10px;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0 3px #000;
}

div.rules.rules-link,
div.rules.rules-link>.inner {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}

div.rules-link a {
    display: block;
    padding: 10px;
    background: #320000;
    background: -webkit-linear-gradient(top, rgba(30, 1, 1, 1), rgba(70, 5, 5, 1));
    background: linear-gradient(to bottom, rgba(30, 1, 1, 1), rgba(70, 5, 5, 1));
    border: 1px solid #811;
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

div.rules-link a:hover {
    background: #320000;
    background: -webkit-linear-gradient(top, rgba(60, 10, 10, 1), rgba(110, 10, 10, 1));
    background: linear-gradient(to bottom, rgba(60, 10, 10, 1), rgba(110, 10, 10, 1));
    border-color: #C11;
    color: #FFF;
    text-decoration: none;
}

p.post-notice,
.postbody div.rules {
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 1px #AA1111;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    margin-right: 8px;
}

p.post-notice:before {
    background: none !important;
    content: "";
    font-family: FontAwesome;
    font-size: 1.4em;
    top: 5px;
    left: 5px;
    color: #FFF;
    text-shadow: 0 0 5px #F11;
}

p.post-notice.deleted:before {
    content: "\f014";
}

p.post-notice.reported:before {
    content: "\f071";
}

p.post-notice.error:before {
    content: "\f071";
}

p.post-notice.unapproved:before {
    content: "\f0e3";
}

#information {
    padding: 6px 6px 10px;
    text-align: center;
}

#information strong {
    margin-bottom: 7px;
}


/* Drop-down menus
--------------------------------------------- */

ul.linklist li.responsive-menu a.responsive-menu-link {
    font-size: 0;
    height: 22px;
    text-align: center;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
    border: none;
    content: '\f0c9';
    color: #888;
    font-family: FontAwesome;
    font-size: 14px !important;
    line-height: inherit !important;
    position: relative;
    height: auto;
    width: auto;
    left: auto;
    top: auto;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before,
ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
    color: #FFF;
}

.dropdown .pointer {
    border-color: #666 transparent;
}

.dropdown .pointer-inner {
    border-color: #111 transparent;
}

.dropdown .dropdown-contents {
    background: #111;
    background: rgba(20, 20, 20, 0.95);
    border-color: #666;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
}

.dropdown li,
.dropdown li li,
.dropdown li.separator {
    border-color: #444;
}

.dropdown-contents strong {
    color: #FFF;
    font-weight: bold;
}


/* Notifications */

.dropdown-extended {
    z-index: 3;
}

.dropdown-extended .header {
    background: #222120;
}

.dropdown-extended .pointer-inner {
    border-color: #222120 transparent;
}

.dropdown-extended .header,
.dropdown-extended .footer {
    border-color: #444;
    color: #FFF;
    text-shadow: none;
}

.dropdown-extended ul li {
    border-color: #444;
}

.dropdown-extended ul li:hover {
    background: #111;
}

.dropdown-extended ul li.bg2 {
    background: #333;
    background: #333 -webkit-linear-gradient(top, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    background: #333 linear-gradient(to bottom, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
}

.dropdown-extended a.mark_read {
    background-color: #525252;
    background-image: none;
}

.dropdown-extended a.mark_read:before {
    font-family: FontAwesome;
    text-shadow: 0 0 5px #000;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 24px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.notification_list p.notification-time,
.notification_list p.notifications_time {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

li.notification-reported strong,
li.notification-disapproved strong {
    color: #FF1111;
}


/* Subforum menus */

.forums .dropdown-container {
    float: right;
}

.forums .dropdown-trigger {
    display: block;
    float: left;
    background: url("./images/icons/child-arrow-big.gif") no-repeat scroll 50% 100% transparent;
    height: 24px;
    width: 36px;
    cursor: pointer;
}

.forums .dropdown-trigger:hover {
    background-position: 50% 33%;
}

.forums .dropdown-visible .dropdown-trigger {
    background-position: 50% 66%;
}

.forums .dropdown-visible .dropdown-trigger:hover {
    background-position: 50% 0;
}

.forums .dropdown {
    padding: 0;
}

.forums .dropdown-contents strong {
    display: block;
    margin-bottom: 5px;
}

.forums .dropdown-contents a {
    font-size: 1.1em;
    display: block;
    padding: 6px 6px 6px 15px;
}

.forums .dropdown-contents a.subforum.read {
    background: url("./images/icons/icon_post_read.gif") 0 50% no-repeat;
}

.forums .dropdown-contents a.subforum.unread {
    background: url("./images/icons/icon_post_unread.gif") 0 50% no-repeat;
}


/* Contact menu */

.contact-icons a {
    border-color: #333;
}

.contact-icons a:hover {
    background-color: #292A2A;
}


/* Profile Context Menu
--------------------------------------------- */

.profile-context .dropdown {
    padding: 0;
    left: 18%;
    top: 15px;
}

.profile-context .dropdown-contents {
    box-shadow: 0 0 0 1px #000, 0 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 10px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: left;
    font-size: 1.1em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.profile-context dt {
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
}

.profile-context dd {
    font-size: 10px;
    margin: 7px 0;
}

.profile-context dd:last-child {
    margin-bottom: 0;
}

.profile-context a {
    font-weight: bold;
}

.profile-context .user-icons {
    margin: 10px 0;
    display: block;
}

.profile-context .user-icons:after {
    clear: both;
    content: '';
    display: block;
}

.profile-context .user-icons a {
    background: #292A2A url("./images/icons/context.gif") no-repeat;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1px;
    padding-left: 30px;
    font-size: 1.1em;
}

.profile-context .user-icons a:hover {
    background-color: #525252;
    text-decoration: none;
}

.profile-context .user-icons a:first-child {
    border-radius: 3px 0 0 3px;
    padding-right: 10px;
}

.profile-context .user-icons a:last-child {
    border-radius: 0 3px 3px 0;
}

.profile-context a.icon-profile {
    background-position: 0 0;
}

.profile-context a.icon-search {
    background-position: 0 -30px;
}

.profile-context a.icon-ignore {
    background-position: 0 -60px;
}


/* Top-bar (custom)
--------------------------------------------- */

#top-bar {
    background: url("./images/bar-bg.jpg") no-repeat scroll 50% 100% #002540;
    border-bottom: 1px solid #05517E;
    box-shadow: 0 0 3px 3px #000000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    color: #FFF;
    text-shadow: 1px 1px #000000;
    position: relative;
    z-index: 1;
}

#top-bar>.inner {
    border-right: 3px solid #042E45;
    border-left: 1px solid #011323;
    height: 40px;
    margin: 0 auto;
    max-width: 990px;
    box-sizing: border-box;
}

#top-bar .linklist>li {
    border-left: 2px solid #042E45;
    border-right: 1px solid #011323;
    margin: 0;
    padding: 0 15px;
    font-size: inherit;
    line-height: inherit;
}

#top-bar .linklist>li.link {
    padding: 0;
}

#top-bar .linklist>li.link a {
    padding: 0 15px !important;
    display: block;
    font-weight: bold;
}

#top-bar .linklist>li.link a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
}

#top-bar li.responsive-menu {
    border: none !important;
    line-height: 20px;
    margin: 5px;
    padding: 3px;
}


/* Adjust the background (and videos) if top-bar is active */

body.topbar {
    background-position: 49.999% 41px;
}

body.topbar-fixed #top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 40;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

body.topbar-fixed #wrap {
    margin-top: 41px;
}

body.topbar .navblock {
    margin-top: 1px;
}


/* CUSTOM STYLE */

dt.profile-avatar {
    text-align: center;
}

.left-box {
    float: none !important;
}


/* Miscellaneous styles
--------------------------------------------- */

#video-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#video-container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    z-index: -1000;
}

#video-container video {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#video-border {
    position: absolute;
    width: 100%;
    z-index: -999;
}

body.fixedbg {
    background-attachment: fixed;
}

body.fixedbg #video-background {
    position: fixed;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    z-index: -1;
    /* Conflicts with page-body box-shadow, when enabled f*cks up chrome fixed pos */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body.fixedbg #video-background {
        z-index: auto;
    }
}

body.topbar #video-background {
    top: 41px;
}

#darken {
    background-color: #000;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.phpbb_alert {
    background-color: #111;
    border-color: #575757;
    box-shadow: 0 0 10px #000;
}

.phpbb_alert .alert_close {
    height: 20px;
    width: 20px;
}

.phpbb_alert .alert_close:after {
    content: '\f057';
    color: #F00;
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: inherit;
    text-align: center;
}

.advertisement,
.misc-block.advertisement {
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
}


/* Tweaks
--------------------------------------------- */

.notouch.section-viewtopic .post-buttons {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.notouch.section-viewtopic .post:hover .post-buttons {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

ul.linklist>li,
#quick-links {
    margin-right: 10px;
}

#quick-links {
    float: right;
}

ul.linklist>li.rightside {
    margin-left: 10px;
}

ul.linklist>li a:hover {
    text-decoration: none;
}

.action-bar.compact {
    display: none;
}

.administrator .post.bg1>.inner,
.administrator .post.has-profile.bg2>.inner {
    /* background: linear-gradient(to bottom, rgba(145, 33, 39, 1) 0, rgba(49, 49, 49, 0) 82px), linear-gradient(to top, rgba(143, 33, 39, 1) 0, rgba(145, 33, 39, 0) 46px), #3c0505;
*/
    background: -webkit-linear-gradient(top, rgba(23, 23, 23, 1) 0, rgba(49, 49, 49, 0) 82px), -webkit-linear-gradient(bottom, rgba(26, 26, 26, 1) 0, rgba(49, 49, 49, 0) 46px), #313131;
    background: linear-gradient(to bottom, rgba(23, 23, 23, 1) 0, rgba(49, 49, 49, 0) 82px), linear-gradient(to top, rgba(26, 26, 26, 1) 0, rgba(49, 49, 49, 0) 46px), #313131;
}

#wrap .administrator .postprofile {
    background-image: url("images/avatar-bg1-red.jpg");
}

.administrator .postprofile .avatar {
    background: none;
}

input#pf_pbbnetavatar,
label[for=pf_pbbnetavatar] {
    display: none;
}

.topic_poll+hr {
    display: none;
}


/* Icon images
--------------------------------------------- */

.small-icon {
    background: none !important;
    padding: 0;
    position: relative;
}

.small-icon>a {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.small-icon>a:before,
#top-bar .small-icon:before,
.profile-context .user-icons a:before {
    display: inline-block;
    font-family: FontAwesome;
    color: #888;
    text-shadow: 0 0 5px #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: inherit;
    text-decoration: none;
    padding-right: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.small-icon>a:hover:before {
    color: #FFF;
    text-shadow: 0 0 16px #009CFF;
}

.dropdown-contents .small-icon>a:before {
    width: 1.28571em;
    text-align: center;
}

#top-bar .small-icon:before,
#top-bar .small-icon.link>a:before {
    color: inherit;
    padding-right: 5px;
}

.icon-acp>a:before {
    content: "\f085";
}

.icon-boardrules>a:before {
    content: "\f03a";
}

.icon-bookmark>a:before {
    content: "\f02e";
}

.icon-bump>a:before {
    content: "\f102";
}

.icon-contact>a:before {
    content: "\f003";
}

.icon-delete-cookies>a:before {
    content: "\f1f8";
}

.icon-download>a:before {
    content: "\f019";
}

.icon-faq>a:before {
    content: "\f059";
}

.icon-home>a:before {
    content: "\f015";
}

.icon-logout>a:before {
    content: "\f011";
}

.icon-mark:before {
    content: "\f046";
}

.icon-mark-read>a:before {
    content: "\f046";
}

.icon-mcp>a:before {
    content: "\f0e3";
}

.icon-members>a:before {
    content: "\f0c0";
}

.icon-newspage>a:before {
    content: "\f0a1";
}

.icon-notification>a:before {
    content: "\f0f3";
}

.icon-pages>a:before {
    content: "\f0c5";
}

.icon-pm>a:before {
    content: "\f01c";
}

.icon-print>a:before {
    content: "\f02f";
}

.icon-profile>a:before {
    content: "\f007";
}

.icon-register>a:before {
    content: "\f044";
}

.icon-restore-permissions>a:before {
    content: "\f079";
}

.icon-search>a:before {
    content: "\f002";
}

.icon-search-advanced>a:before {
    content: "\f1de";
}

.icon-search-self>a:before {
    content: "\f007";
}

.icon-search-unanswered>a:before {
    content: "\f1ae";
}

.icon-search-unread>a:before {
    content: "\f06e";
}

.icon-search-new>a:before {
    content: "\f0e7";
}

.icon-search-active>a:before {
    content: "\f0e6";
}

.icon-sendemail>a:before {
    content: "\f0e0";
}

.icon-subscribe>a:before {
    content: "\f046";
}

.icon-team>a:before {
    content: "\f132";
}

.icon-ucp>a:before {
    content: "\f013";
}

.icon-unsubscribe>a:before {
    content: "\f147";
}

.icon-view>a:before {
    content: "\f06e";
}


/* Post control buttons */

.post-buttons .icon-button {
    background: none !important;
    border: none;
    box-shadow: none !important;
    line-height: inherit;
    padding: 0 3px;
    height: auto;
    width: auto;
}

.post-buttons .icon-button:before {
    font-family: FontAwesome;
    text-shadow: 0 0 5px #000;
    font-size: 1.3em;
    line-height: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.post-buttons .icon-button:hover:before {
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.post-buttons .dropdown li a:before {
    content: "";
    display: none;
}

.report-icon:before {
    content: "\f06a";
    color: #F40;
}

.warn-icon:before {
    content: "\f071";
    color: #FFAE00;
}

.edit-icon:before {
    content: "\f044";
    color: #888;
}

.delete-icon:before {
    content: "\f00d";
    color: #F00;
}

.info-icon:before {
    content: "\f05a";
    color: #00B6FF;
}

.quote-icon:before {
    content: "\f10d";
}

.post-buttons .responsive-menu-link:before {
    content: "\f0c9";
    color: #888;
}


/* Profile & navigation icons */

.contact-icon {
    background-image: url("./images/icons/icons_contact.png");
}

.profile-context .user-icons a:before {
    display: none;
    font-size: 16px;
}

.profile-context a.icon-profile:before {
    content: "\f007";
}

.profile-context a.icon-search:before {
    content: "\f002";
}

.profile-context a.icon-ignore:before {
    content: "\f05e";
}


/* Forum icons & Topic icons */

.global_read {
    background-image: url("./images/icons/announce_read.png");
}

.global_read_mine {
    background-image: url("./images/icons/announce_read_mine.png");
}

.global_read_locked {
    background-image: url("./images/icons/announce_read_locked.png");
}

.global_read_locked_mine {
    background-image: url("./images/icons/announce_read_locked_mine.png");
}

.global_unread {
    background-image: url("./images/icons/announce_unread.png");
}

.global_unread_mine {
    background-image: url("./images/icons/announce_unread_mine.png");
}

.global_unread_locked {
    background-image: url("./images/icons/announce_unread_locked.png");
}

.global_unread_locked_mine {
    background-image: url("./images/icons/announce_unread_locked_mine.png");
}

.announce_read {
    background-image: url("./images/icons/announce_read.png");
}

.announce_read_mine {
    background-image: url("./images/icons/announce_read_mine.png");
}

.announce_read_locked {
    background-image: url("./images/icons/announce_read_locked.png");
}

.announce_read_locked_mine {
    background-image: url("./images/icons/announce_read_locked_mine.png");
}

.announce_unread {
    background-image: url("./images/icons/announce_unread.png");
}

.announce_unread_mine {
    background-image: url("./images/icons/announce_unread_mine.png");
}

.announce_unread_locked {
    background-image: url("./images/icons/announce_unread_locked.png");
}

.announce_unread_locked_mine {
    background-image: url("./images/icons/announce_unread_locked_mine.png");
}

.forum_link {
    background-image: url("./images/icons/forum_link.png");
}

.forum_read {
    background-image: url("./images/icons/forum_read.png");
}

.forum_read_locked {
    background-image: url("./images/icons/forum_read_locked.png");
}

.forum_read_subforum {
    background-image: url("./images/icons/forum_read_subforum.png");
}

.forum_unread {
    background-image: url("./images/icons/forum_unread.png");
}

.forum_unread_locked {
    background-image: url("./images/icons/forum_unread_locked.png");
}

.forum_unread_subforum {
    background-image: url("./images/icons/forum_unread_subforum.png");
}

.sticky_read {
    background-image: url("./images/icons/sticky_read.png");
}

.sticky_read_mine {
    background-image: url("./images/icons/sticky_read_mine.png");
}

.sticky_read_locked {
    background-image: url("./images/icons/sticky_read_locked.png");
}

.sticky_read_locked_mine {
    background-image: url("./images/icons/sticky_read_locked_mine.png");
}

.sticky_unread {
    background-image: url("./images/icons/sticky_unread.png");
}

.sticky_unread_mine {
    background-image: url("./images/icons/sticky_unread_mine.png");
}

.sticky_unread_locked {
    background-image: url("./images/icons/sticky_unread_locked.png");
}

.sticky_unread_locked_mine {
    background-image: url("./images/icons/sticky_unread_locked_mine.png");
}

.topic_moved {
    background-image: url("./images/icons/topic_moved.png");
}

.topic_read {
    background-image: url("./images/icons/topic_read.png");
}

.topic_read_mine {
    background-image: url("./images/icons/topic_read_mine.png");
}

.topic_read_hot {
    background-image: url("./images/icons/topic_read_hot.png");
}

.topic_read_hot_mine {
    background-image: url("./images/icons/topic_read_hot_mine.png");
}

.topic_read_locked {
    background-image: url("./images/icons/topic_read_locked.png");
}

.topic_read_locked_mine {
    background-image: url("./images/icons/topic_read_locked_mine.png");
}

.topic_unread {
    background-image: url("./images/icons/topic_unread.png");
}

.topic_unread_mine {
    background-image: url("./images/icons/topic_unread_mine.png");
}

.topic_unread_hot {
    background-image: url("./images/icons/topic_unread_hot.png");
}

.topic_unread_hot_mine {
    background-image: url("./images/icons/topic_unread_hot_mine.png");
}

.topic_unread_locked {
    background-image: url("./images/icons/topic_unread_locked.png");
}

.topic_unread_locked_mine {
    background-image: url("./images/icons/topic_unread_locked_mine.png");
}

.pm_read {
    background-image: url("./images/icons/topic_read.png");
}

.pm_unread {
    background-image: url("./images/icons/topic_unread.png");
}


/* Imageset */

span.imageset {
    display: inline-block !important;
    background: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.imageset:before {
    color: #888;
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 0;
}

.imageset.icon_contact,
.imageset.icon_topic_reported,
.imageset.icon_topic_unapproved,
.imageset.icon_topic_deleted {
    position: relative;
    background: none !important;
    padding: 15px 0 0 17px;
    text-align: center;
}

.imageset.icon_contact:before {
    content: "\f0e5";
    padding-left: 2px;
    padding-top: 1px;
}

.imageset.icon_topic_reported:before {
    content: "\f06a";
    color: #FFF;
    padding-left: 3px;
}

.imageset.icon_topic_unapproved:before {
    content: "\f059";
    color: #FFF;
    padding-left: 2px;
}

.imageset.icon_topic_deleted:before {
    content: "\f1b8";
    color: #5CFF00;
    padding-left: 2px;
}

.imageset.icon_topic_poll {
    background: url("./images/icons/poll.gif") 100% 100% no-repeat;
    padding: 14px 0 0 20px;
    vertical-align: middle;
}

.imageset.icon_topic_attach {
    background-image: url("./images/icons/icon_topic_attach.gif");
    padding: 10px 0 0 7px;
}

.imageset.icon_post_target {
    background-image: url("./images/icons/icon_post_read.gif");
    padding: 9px 0 0 11px;
}

.imageset.icon_post_target_unread {
    background-image: url("./images/icons/icon_post_unread.gif");
    padding: 9px 0 0 11px;
}

.imageset.icon_topic_latest {
    background-image: url("./images/icons/icon_topic_latest.gif");
    padding: 9px 0 0 11px;
}

.imageset.icon_topic_newest {
    background-image: url("./images/icons/icon_topic_newest.gif");
    padding: 9px 0 0 11px;
}

.unread .imageset.icon_topic_latest {
    background-image: url("./images/icons/icon_topic_newest.gif");
    padding: 9px 0 0 11px;
}


/* PBWoW Master style specific assets
   (excluded for children)
--------------------------------------------- */

body.pbwow3 {
    background-attachment: scroll !important;
}

#site-description {
    float: left;
    width: 100%;
}

body.pbwow3 #logo {
    margin: auto;
    background-image: url("./images/theme/heartwinglogo-new.png");
    background-size: 100% auto;
    background-position: center center;
    width: 356px;
    display: block;
    height: 183px;
    float: none;
    margin-top: -13px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 90000000000000000000000000;
    top: 73%;
}

body.pbwow3 #video-background {
    display: none;
}

body.pbwow3 #page-body:before {
    display: none;
}

@media only screen and (max-width: 999px),
only screen and (max-device-width: 999px) {
    body.pbwow3 #logo {
        background-image: none;
    }
    body.pbwow3 {
        background-image: url("./images/theme/heartwinglogo.png");
    }
    body.pbwow3.topbar {
        background-position: 0 41px;
    }
}

@media screen and (max-width: 859px) {
    body.pbwow3 #logo {
        width: 200px;
        height: 100px;
        margin: 0 0 25px 0;
    }
}


/* =Media queries (all >700px rules are in responsive.css)
-------------------------------------------------------------- */

@media screen and (max-width: 999px) {
    .headerbar:after {
        display: none;
    }
    .forum-blocks li.row,
    .index-left .forum-blocks li.row {
        width: 100%;
        min-height: inherit;
    }
    .forum-blocks li.row dl.icon {
        min-height: inherit;
    }
    .postprofile {
        background-position: 50% 0;
    }
}


/* CUSTOM STYLE - JESPER PEDERSEN */

a[href^="http://www.wowhead.com"].postlink,
a[href^="https://www.wowhead.com"].postlink {
    border-bottom: 0;
}

.headerbar {
    position: relative;
}

.headerbar:after {
    content: "";
    position: absolute;
    background: url("img/whelp.png") no-repeat;
    width: 164px;
    height: 194px;
    display: block;
    right: 60px;
    top: 130px;
    z-index: 100000000000000000000000000000000;
    pointer-events: none;
}

div#category-36 li.row,
div#category-7 li.row,
div#category-38 li.row,
div#category-39 li.row,
div#category-43 li.row {
    width: 100%;
}

div#category-36 li.row dl.icon {
    border-color: #912127;
}

div#category-39 li.row dl.icon {
    border-color: #8080FF;
}

div#category-39 li.row a.forumtitle {
    color: #8080FF;
}

div#category-36 a.icon-link,
div#category-7 li.row,
div#category-38 a.icon-link,
div#category-39 a.icon-link {
    margin: 0;
    left: 0;
    top: 0;
    height: 109px;
    width: 100%;
}

div#category-29 li.row {
    width: 50%;
}

div#category-7 li.row {}

div#category-36 .forum-blocks a.forumtitle {
    color: #912127;
}

.forum-blocks dl.icon a.icon-link {
    margin: 0;
    left: 0px;
    top: 0px;
    height: 109px;
    width: 100%;
}

.forum-blocks dl:hover {
    border-color: #c3914f;
}

.forum-links>a.user.name {
    clear: both;
    display: none;
}

.forum-links>a.user.name:first-of-type {
    display: block;
}

.forum-links>a.user.name:before {
    content: '« ';
}

html {
    margin-top: 82px;
}

.navblock {
    width: 100%;
    height: 82px;
}

.navblock li#username_logged_in {
    float: left;
}

.navblock li#username_logged_in .header-avatar img {
    display: none;
}

.navblock li#username_logged_in span {
    font-family: "Encode Sans";
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
    font-weight: normal;
    font-size: 13px;
    text-rendering: optimizeLegibility;
}

.navblock li#username_logged_in span:before {
    content: 'Welcome, ';
    color: #FFF;
}

.dropdown .pointer {
    right: 10px;
    left: auto;
    top: 0;
    z-index: 3;
}

.navblock>.inner {
    max-width: 1200px;
    margin: auto;
    border: 0;
}

#quick-links a.responsive-menu-link,
.small-icon>a {
    font-family: "Encode Sans";
    font-size: 13px;
}

body {
    font-family: Encode Sans, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

span.forum-description {
    font-size: 13px;
}

.application-form label {
    font-family: "Encode Sans";
}

.application-form textarea,
.application-form input[type="text"]:focus,
.application-form input[type="text"]:hover,
.application-form input[type="text"],
.application-form input[type="number"],
.application-form input[type="url"],
.application-form input[type="url"]:focus,
.application-form input[type="url"]:hover {
    color: #FFB019;
    outline: 0;
}

.application-form label {
    clear: left;
    width: 40%;
    font-size: 20px;
    float: left;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Encode Sans";
    padding-right: 15px;
    line-height: normal;
    display: inline-block;
    min-height: 40px;
    font-weight: normal;
}

.application-form .row * {
    box-sizing: border-box;
}

.application-form input[type="text"],
.application-form select,
.application-form input[type="number"],
.application-form input[type="url"] {
    margin-bottom: 20px;
    width: 60%;
    height: 35px;
    clear: right;
    float: right;
    background: none;
    border: 0;
    border-bottom: 1px #5e5f5e solid;
    display: inline-block;
    -webkit-transition: border-bottom 0.6s;
    outline: none;
    font-size: 20px;
    padding-left: 7px;
    font-family: "Encode Sans";
}

.application-form textarea {
    padding-left: 5px;
    border-radius: 3px;
    width: 60%;
    resize: none;
    font-size: 20px;
    float: right;
    background: none;
    border: 1px #5e5f5e solid;
    font-family: "Encode Sans";
    min-height: 400px;
}

#age-notice {
    float: right;
}

.application-form div.row {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.application-form input[type="text"]:focus,
.application-form input[type="text"]:hover,
.application-form input[type="number"]:focus,
.application-form input[type="number"]:hover,
.application-form input[type="url"]:focus,
.application-form input[type="url"]:hover {
    border: none;
    background: none;
    border-bottom: 1px #FFB019 solid;
}

.application-form textarea:focus,
.application-form textarea:hover {
    border: 1px #FFB019 solid;
}

.application-form input[type="submit"] {
    border: 1px #FFB019 solid;
    display: inline-block;
    width: 30% !important;
    min-width: 320px;
    height: 40px;
    margin-right: 0px;
    margin-top: 30px;
    background: none;
    color: #FFB019;
    font-family: "Encode Sans";
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    box-shadow: none;
    text-shadow: none;
    font-weight: normal;
}

.application-form input[type="submit"]:hover {
    background-color: #FFB019;
    color: #FFF;
    -webkit-transition: all 160ms ease-in;
    transition: all 160ms ease-in;
    box-shadow: none;
    text-shadow: none;
}

.application-form .row.row-submit {
    text-align: center;
}

.application-form img {
    width: 100%;
}

.application-form .info {
    font-size: 24px;
    line-height: 1.6;
}

.application-form h2 {
    font-family: "Encode Sans", Verdana;
    font-size: 42px;
    text-align: center;
    padding-bottom: 20px;
    color: #FFB019;
    margin-top: 50px;
}

.application-form select:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 25px 0 25px;
    border-color: #ebebeb transparent transparent transparent;
    content: '';
}

.application-form .change-template ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.application-form .change-template ul li {
    width: 25%;
    float: left;
    font-size: 15px;
    font-family: "Encode Sans", Verdana;
    line-height: 50px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.application-form .change-template ul li.disabled {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.application-form .change-template ul li.disabled:not(.perma-disabled):hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.perma-disabled {
    position: relative;
}

.perma-disabled span {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5555555555;
    display: block;
    left: 0;
    top: 41%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    color: #c3914f;
}

.application-form .change-template ul li a {
    display: block;
}

.application-form .checkbox-row label,
.application-form .checkbox-row input {
    width: auto;
    font-size: 13px;
    text-transform: none;
}

.application-form .checkbox-row input {
    margin-top: 0;
}

#site-description a.apply {
    display: inline-block;
    color: #FFF;
    height: 79px;
    width: 345px;
    line-height: 79px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 147px;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-indent: -9999px;
    background-image: url("./images/theme/apply-states.png");
    background-position: 0 79px;
}

#site-description {
    text-align: center;
}

#site-description a.apply:hover {
    background-position: 0;
}

#site-description a.apply:active {
    background-position: 0 179px;
}

#nav-breadcrumbs .breadcrumbs span.crumb:nth-of-type(2) {
    display: none;
}

#nav-breadcrumbs .breadcrumbs span.crumb:first-of-type {
    display: none;
}

#nav-breadcrumbs .breadcrumbs span.crumb:nth-of-type(3):before {
    display: none;
}

#body-header li.breadcrumbs:before {
    display: none;
}

.timecount {
    padding-top: 94px;
    background: url("./images/border-bot-left.gif") no-repeat 0 100%, url("./images/border-bot-right.gif") no-repeat 100% 100%, url("./images/border-top-right.gif") no-repeat 100% 0, url("./images/border-top-left.gif") no-repeat 0 0, url("./images/border-bot.gif") repeat-x 0 100%, url("./images/border-top.gif") repeat-x 0 0, url("./images/border-right.gif") repeat-y 100% 0, url("./images/border-left.gif") repeat-y 0 0, rgba(0, 0, 0, 0.8);
    position: relative;
    margin-top: 0 !important;
    padding-bottom: 90px;
    font-family: "Encode Sans";
    color: #FFF;
}

.timecount span {
    color: #FFB019;
}

.timecount span.cd-time {
    font-family: "Encode Sans";
    color: #FFF;
}

.timecount span.cd-time:first-of-type {
    clear: both;
    display: inline-block;
    float: left;
    width: 100%;
    font-size: 30px;
    font-family: "Encode Sans";
}

.timecount:before,
.timecount:after {
    content: '';
    display: block;
    position: absolute;
    top: -21px;
    width: 22px;
    height: 121px;
    z-index: 1;
}

.section-viewtopic #page-body h2.topic-title {
    text-align: center;
    font-size: 3.5em;
    font-family: "FrizQuadrata", Arial, Helvetica, sans-serif;
}

html body #recent-topics a.topictitle,
a.topictitle {
    font-family: "Encode Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 5px;
}