<!-- DEFINE $BEGIN_TCORNERS = '<div class="rounded_corners_top"><div class="left">' -->
<!-- DEFINE $END_TCORNERS = '</div><div class="right"></div></div><div class="clear"></div>' -->
<!-- DEFINE $BCORNERS = '<div class="rounded_corners_bottom"><div class="left"></div><div class="right"></div></div><div class="clear"></div>' -->
