<!-- INCLUDE overall_header.html -->

{$BEGIN_TCORNERS}{L_FAQ_TITLE}{$END_TCORNERS}
<div class="bg4" id="faqlinks">
		<div class="column1">
		<!-- BEGIN faq_block -->
			<!-- IF faq_block.SWITCH_COLUMN or (SWITCH_COLUMN_MANUALLY and faq_block.S_ROW_COUNT == 4) -->
				</div>

				<div class="column2">
			<!-- ENDIF -->

			<dl class="faq">
				<dt><strong>{faq_block.BLOCK_TITLE}</strong></dt>
				<!-- BEGIN faq_row -->
					<dd><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></dd>
				<!-- END faq_row -->
			</dl>
		<!-- END faq_block -->
		</div>
</div>
{$BCORNERS}
		<br />


<div class="clear"></div>

<!-- BEGIN faq_block -->
{$BEGIN_TCORNERS}{faq_block.BLOCK_TITLE}{$END_TCORNERS}
	<div class="bg4">
			<!-- BEGIN faq_row -->
				<dl class="faq">
					<dt id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"><strong>{faq_block.faq_row.FAQ_QUESTION}</strong></dt>
					<dd>{faq_block.faq_row.FAQ_ANSWER}</dd>
					<dd><a href="#faqlinks" class="top2">{L_BACK_TO_TOP}</a></dd>
				</dl>
				<!-- IF not faq_block.faq_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
			<!-- END faq_row -->
	</div>
	{$BCORNERS}
		<br />
<!-- END faq_block -->

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
