<!-- INCLUDE overall_header.html -->

<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist">
	<!-- IF S_DISPLAY_SEARCH -->
		<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><!-- IF S_LOAD_UNREADS --> &bull; <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --> &bull; <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> &bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a> <!-- IF S_DISPLAY_SEARCH and not S_IS_BOT and S_USER_LOGGED_IN --> &bull; <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF --></li>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<br />
		{$BEGIN_TCORNERS}{L_LOGIN_LOGOUT}{$END_TCORNERS}
	<form method="post" action="{S_LOGIN_ACTION}">
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
	{$BCORNERS}
		<br />
<!-- ENDIF -->

<br />
    <!-- IF S_DISPLAY_ONLINE_LIST -->
	{$BEGIN_TCORNERS}<!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF -->{$END_TCORNERS}
	    <div class="forabg">
		    <div class="inner">
			    <ul class="topiclist">
				    <li class="header">
					    <dl class="icon">
						    <dt>&nbsp;</dt>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
				    <li class="row">
					    <dl>
						    <dt title="{L_WHO_IS_ONLINE}" style="width: auto;">
							    <span>{TOTAL_USERS_ONLINE}
								    <br />{RECORD_USERS}
									<br />
									<strong>{LOGGED_IN_USER_LIST}</strong><br/>
									<!-- IF LEGEND --><br /><strong>{L_LEGEND}:</strong> {LEGEND}<!-- ENDIF -->
								</span>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		{$BCORNERS}
		<br />
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	{$BEGIN_TCORNERS}{L_BIRTHDAYS}{$END_TCORNERS}
        <div class="forabg">
		    <div class="inner">
             <ul class="topiclist">
                <li class="header">
                   <dl class="icon">
				        <dt>&nbsp;</dt>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			    <li class="row">
				    <dl>
					    <dt title="{L_CONGRATULATIONS}" style="width: auto;">
						    <span class="forumtitle">
							    <!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
							</span>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
    </div>
	{$BCORNERS}
		<br />
    <!-- ENDIF -->

    <!-- IF NEWEST_USER -->
	{$BEGIN_TCORNERS}{L_STATISTICS}{$END_TCORNERS}
	    <div class="forabg">
             <div class="inner">
                <ul class="topiclist">
                    <li class="header">
                        <dl class="icon">
				            <dt>&nbsp;</dt>
					    </dl>
				    </li>
			    </ul>
				<ul class="topiclist forums">
				    <li class="row">
					    <dl>
                            <dt title="{L_STATISTICS}" style="width: auto;">
							    <span class="forumtitle">
								    {TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS}
									    <br />{NEWEST_USER}
								</span>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		{$BCORNERS}
		<br />
    <!-- ENDIF -->

	<br />
	
    <ul class="center">
        <li>
            <img src="{T_IMAGESET_PATH}/forum_unread.gif" alt="{L_NEW_POSTS}" />&nbsp;&nbsp;{L_NEW_POSTS}&nbsp;&nbsp;
            &nbsp;&nbsp;<img src="{T_IMAGESET_PATH}/forum_read.gif" alt="{L_NO_NEW_POSTS}" />&nbsp;&nbsp;{L_NO_NEW_POSTS}&nbsp;&nbsp;
            &nbsp;&nbsp;<img src="{T_IMAGESET_PATH}/forum_read_locked.gif" alt="{L_FORUM_LOCKED}" />&nbsp;&nbsp;{L_FORUM_LOCKED}
        </li>
    </ul>

    <br style="clear: both;" />	

<!-- INCLUDE overall_footer.html -->