	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

        </div>        
      </div>
    </div>

  <div id="contentbottom"></div>
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

<br /><center><!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF --></center>
	
<table width="100%" border="0" cellpadding="0" cellspacing="0" height="92">
	<tr>
		<td width="100%" align="center">
<div id="wrapfooter">
	<span class="copyright" lang="en">World of Warcraft phpBB template "WoWCataclismo" created by <a href="mailto:nightdragonwish@gmail.com">Juan Antonio Mart&iacute;n Jim&eacute;nez</a>.<br />
	Downloads and Updates at <a href="http://www.clan-equisde.com.es/index.php?seccion=descargas" target="_blank">www.clan-equisde.com</a><br />
	<a href="http://www.blizzard.com/legalfaq.shtml" target="_blank" class="copyright">&copy;</a> World of Warcraft and Blizzard <a href="{T_THEME_PATH}/images/entertainment.jpg" target="_blank" class="copyright">Entertainment</a> are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.<br /> This site is in no way associated with Blizzard Entertainment.<br />
Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group</span>
	<span class="copyright"><!-- IF TRANSLATION_INFO -->{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
<br /><br />
</div>
</td>
	</tr>
</table>

</body>
</html>
